<template>
    <div class="wrap agreement">
        <headNav img='b'  url='1'/>
       <div class="main">
         <div class="img-box">
             <img src="../assets/protocol@2x.png" alt="">
         </div>
         <div class="title">国坛万象用户使用协议</div>
         <p class="text">感谢您下载国坛万象！当您开始使用本软件时，我们可能会对您的部分个人信息进行收集、使用、共享和保护。为了让您更好地了解我们对您的信息使用和保护，我们已发更新隐私政策，请您在使用金典三号产品或服务前，认真阅读完整的 <span @click="showProtocol" class="url">《国坛万象用户使用协议》</span>。</p>
         <p class="text ">国坛万象用户协议主要包含以下内容：</p>
         <p class="text notop">我们如何收集和使用您的个人信息，我们如何使用Cookie 和同类技术，我们如何共享、转让、公开披露您的信息，我们如何保护和保存您的个人信息，您如何管理个人信息，未成年人信息的保护，通知和修订，如何联系我们。</p>
       </div>
       <van-popup v-model="showpop" >
           <div class="agreet-content">
               <div class="headnav">
                    <img @click="returnBack" class="img"  src="../assets/return@2x.png" alt="back">
                    <span class="img"></span>
                </div>
                <div class="v-html" v-html="content"></div>
           </div>
       </van-popup>
       <div class="foot">
           <button @click="handleNo" class="btn no">不同意</button>
           <button @click="handleYes" class="btn yes">同意</button>
       </div>
    </div>
</template>

<script>
import headNav from '@/components/headNav'
export default {
name:'agreement',
components:{
    headNav
},
data(){
    return {
        content:null,
        showpop:false
    }
},
methods:{
    showProtocol(){
       this.showpop=true
    },
    handleYes(){
       window.open('http://guotan_agreement?agreement=1','_self')
    },
    handleNo(){
       window.open('http://guotan_agreement?agreement=0','_self')
    },
    comfirm(){
        this.showpop=false
    },
    returnBack(){
        this.showpop=false
    }
},
created(){
    let obj={method:'get',url:'/api/catalog/customerAgreement'}
    this.$http(obj).then(res=>{
       if(res.status==1){
           this.content=res.data.content
       }
    })
    
}
}
</script>

<style lang='scss'>
@function vw($px) {
    @return ($px / 750) * 100vw;
}
.agreement{
    .main{
        padding:0 vw(40);
      .img-box{
        width: vw(550);
        height: vw(265);
        overflow: hidden;
        margin: vw(30) auto;
        margin-bottom: vw(60);
        img{
            width: 100%;
        }
      }
      .title{
          color: #000;
          font-size: vw(44);
          font-weight: bold;
          margin-top: vw(50);
      }
      .text{
          margin-top: vw(50);
          color: #000;
          font-size: vw(30);
          line-height: vw(50);
          .url{
            color: #F72736;
        }
      }
      .notop{
          margin-top: vw(0);
      }
      
    }
    .foot{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: vw(30) vw(50);
        .btn{
            font-weight: bolder;
            width: 45%;
            height:vw(88);
            border-radius: vw(10);
            border: none;
            font-size: vw(30);
        }
        .no{
            color: 000;
            border: 1px solid #999;
            background: #fff;
        }
        .yes{
            color: #fff;
            background: #F72736 ;
        }
    }
    .van-popup{
        width: 100vw;
        height: 100vh;
        .agreet-content{
            position: relative;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            .headnav{
                background: #fff;
            }
            .v-html{
                flex: 1;
                width: 100vw;
                padding-left: 2vw;
                overflow-x: hidden;
                p{
                    text-indent: 0 !important;
                    img{
                        width: 40vw !important;
                    }
                }
            }
        }
    }
    
}
</style>
