<template>
    <div class="wrapp asign">
        <div class="wrapp-box">
             <div class="head">
            <div class="back">
                <img @click="goback" src="../assets/return_w@2x.png" alt="">
            </div>
            <span class="head-title">今日签到</span>
            <router-link to="/signList" tag="span" class="history"><img src="../assets/records@2x.png" alt=""></router-link>  
        </div>
        <div class="main">
            <div class="main-top">
                <img class="middle-img" src="../assets/decorate_middle@2x.png" alt="">
            <img class="card-top" src="../assets/decorate_top@2x.png" alt="">
            <!-- <div class="history">
                <router-link to="/signList" tag="div" class="btn">签到记录</router-link>
            </div> -->
             <div class="card">
                <span v-show="!isCheck"  class="title">今日还未签到哦！连续签到{{days}}天</span>
                <span v-show="isCheck" class="title">今日已签到！连续签到{{days}}天</span>
                <ul class="card-ul">
                    <li :class="(days>=item.checkTimes)?'card-ul-li':'card-ul-li opacity'" v-for="item in list" :key="item.id">
                        <div class="card-ul-li-num">+{{item.point}}</div>
                        <span class="card-ul-li-text">{{item.checkTimes==1&&'第一天'||item.checkTimes==2&&'第二天'||item.checkTimes==3&&'第三天'||item.checkTimes==4&&'第四天'||item.checkTimes==5&&'五天及以上'}}</span>
                    </li>
                </ul>
                <div @click="handleCheck" :class="isCheck?'sign-btn opacity':'sign-btn'">{{isCheck?'今日已签':'今日签到'}}</div>
            </div>
            </div>
           
            <div class="rule">
                <div class="rule-title">
                    <img src="../assets/decorate_s@2x.png" alt="">
                    <span>签到积分规则</span>
                    <img src="../assets/decorate_r@2x.png" alt="">
                </div>
                <p>1.第1天签到可以获得5分，第2天连续签到可以获得10分，第3天连续签到可以获得15分，第4天连续签到可以获得20分，第5天及五天以上连续签到可获得每天加25分，连续签到可以获得更高积分；</p>
                <p>2.签到获得的积分可以在积分商城中兑换优惠卷和积分商品；</p>
                <p>3.积分获得和兑换兑换规则最终解释权归国坛集团所有，如有疑问，请联系客服400 168 7555。</p>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment'; 
import { Toast } from 'vant'
export default {
name:'asign',
data(){
    return {
        list:null,//签到规则
        isCheck:false,//今日是否签到
        days:0,//连续签到的天数
        btnText:'今日签到',
        point:null,//今日签到积分
        data:null,
        token:null,
        imgUrl:null,
    }
},
methods:{
    handleCheck(){
        if(this.isCheck){
            Toast('今日已签到')
            return false
        }
        let obj={method:'posts',url:'/api/customerSign/customerSign',data:{token:this.token,point:this.point}}
        this.$http(obj).then(res=>{
            if(res.status==1){
                Toast('今日签到成功')
                this.isCheck=res.data.signInfo
                this.days=res.data.sign_days
                //this.getInfo()
            }
        })
        
        
        
    },
    goback(){
        window.open('http://guotan_return_back','_self')
    },
    getInfo(){
        let obj={method:'posts',url:'/api/customerSign/customerSignInfo',data:{token:this.token}}
        this.$http(obj).then(res=>{
            if(res.status==1){
                this.data=res.data
                this.list=res.data.signPointRule
                this.isCheck=res.data.todayMessage
                this.days=res.data.sign_days
                this.point=res.data.todaySign
            }
        })
    }
},
mounted(){
   
},
created(){
    this.token=this.$url.token
    this.imgUrl=decodeURIComponent(this.$url.imgUrl)
    if(!this.token){
      this.Toast('token错误')
      return false
    }
    if(!this.imgUrl){
        this.Toast('图片路径错误')
        return false
    }
    this.getInfo()
    
}
}
</script>

<style lang='scss'>
@function vw($px) {
    @return ($px / 750) * 100vw;
}
.asign{
    /*! autoprefixer: off */
    background: -webkit-linear-gradient(top,#FF4351,#FF8A57);
    /* autoprefixer: on */
    background: -moz-linear-gradient(top,#FF4351,#FF8A57);
    background: -o-linear-gradient(top,#FF4351,#FF8A57);
    background:linear-gradient(top, #FF4351 0%, #FF8A57 100%);
   position: relative;
   overflow-x: hidden;
   .wrapp-box{
        background: url('../assets/decorate_bottom@2x.png') no-repeat top center;
        background-size: contain;
   }
  .card-top{
          width: 100%;
          position: absolute;
          top: vw(160);
          left: 0;
          z-index: 100;
      }
  .head{
      padding: 0 vw(40);
      display: flex;
      justify-content: space-between;
      color: #fff;
      font-size: vw(34);
      font-weight: bolder;
      .back{
          width: vw(120);
          padding-top: 15px;
          img{
                width: vw(50);
            }
      }
      &-title{
          padding-top: 15px;
      }
      .history{
          padding-top: 5px;
          img{
              width: vw(120);
          }
      }
  }
  .main{
      .main-top{
        overflow: hidden;
        position: relative;
        height: vw(1260);

      }
      .middle-img{
          width: vw(560);
          position: absolute;
          z-index:0;
          top: vw(120);
          left: 50%;
          z-index: 1;
          margin-left: vw(-280);
      }
      
      .card{
          position: absolute;
          z-index: 10;
          width: vw(670);
          padding: 0 vw(20);
          margin: 0 vw(40);
          margin-top: vw(460);
          height: vw(650);
          background: #fff;
          border-radius: vw(22);
          box-shadow: 0 vw(6) vw(8) vw(3) #E8603B;
          padding-top: vw(170);
          display: flex;
          flex-direction: column;
          align-items: center;
          .title{
              font-weight: bold;
              font-size: vw(28);
              color: #F72736 ;
          }
          .opacity{
              opacity: 0.5;
          }
          &-ul{
              margin-bottom: vw(78);
              margin-top: vw(70);
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              &-li{
                  width: vw(120);
                  height: vw(128);
                  background: #FB4552;
                  border-radius: vw(12);
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  &-num{
                      margin-bottom: vw(11);
                      width: vw(55);
                      height: vw(55);
                      background: #FFD457;
                      color: #FB4552;
                      font-size: vw(26);
                      display: flex;
                      font-weight: bold;
                      align-items: center;
                      justify-content: center;
                      border-radius: vw(55);
                  }
                  &-text{
                      color: #fff;
                      font-size: vw(14);
                  }
              }
          }
          .sign-btn{
              width: vw(565);
              height: vw(86);
              border-radius: vw(86);
              /*! autoprefixer: off */
                background: -webkit-linear-gradient(left,#FF4351,#FF8A57);
                /* autoprefixer: on */
                background: -moz-linear-gradient(left,#FF4351,#FF8A57);
                background: -o-linear-gradient(left,#FF4351,#FF8A57);
                background:linear-gradient(left, #FF4351 0%, #FF8A57 100%);
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              font-size: vw(34);
          }
      }
      .rule{
          margin-top: vw(70);
          margin-bottom: vw(70);
        &-title{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: vw(55);
            text-align: center;
            color: #fff;
            font-size: vw(40);
            font-weight: bolder;
            span{
                padding: 0 2vw;
            }
            img{
                width: 25vw;

            }
        }
        p{
            color: #fff;
            padding: 0 vw(70);
            font-size: vw(26);
            line-height: vw(54);
            margin-bottom: vw(30);
        }
      }
  }
}
</style>
