<template>
    <div class="wrap assessmentForm">
        <div class="top">
            <headNav img='b' url='1' />
            <div class="title">健康评估表</div>
            <van-tabs @click="handleMeau" v-model="currentMeau" swipeable>
                <van-tab v-for="(item,index) in pages" :key="index" :title="item.meauName"></van-tab>
            </van-tabs>
        </div>
        <p v-if="!currentPage" class="empty">暂无数据</p>
        <div class="main" v-if="currentPage">
            <div class="order-box">
                <div class="doctor-top">
                    <span class="id">#{{currentPage.course_name}}</span>
                    <span class="time">{{currentPage.date_added}}</span>
                </div>
                <div class="doctor">
                    <span>评估人：{{currentPage.user_name}}</span>
                </div>
                
            </div>
            <ul class="order-ul">
                <!-- 象的变化（面色、舌象、脉象等） -->
                <li class="order-ul-li">
                    <div class="name">
                        <img src="../assets/estimate_symbol@2x.png" alt="">
                        <span>象的变化（面色、舌象、脉象等）</span>
                    </div>
                    <div class="card">
                       <div class="card-top face">
                           <div class="face-item">
                               <div class="img-box">
                                   <img :src="imgUrl+currentPage.face" alt="">
                               </div>
                               <span>面容</span>
                           </div>
                           <div class="face-item">
                               <div class="img-box">
                                   <img :src="imgUrl+currentPage.fur_before" alt="">
                               </div>
                               <span>舌苔前</span>
                           </div>
                           <div class="face-item">
                               <div class="img-box">
                                   <img :src="imgUrl+currentPage.fur_after" alt="">
                               </div>
                               <span>舌苔后</span>
                           </div>
                       </div>
                       <div class="card-bottom">
                           <p class="text">{{currentPage.pulse}}</p>
                       </div>
                    </div>
                </li>
                <!-- 症状改善程度 -->
                <li class="order-ul-li">
                    <div class="name">
                        <img src="../assets/estimate_symbol@2x.png" alt="">
                        <span>症状改善程度</span>
                    </div>
                    <showStatus :status="currentPage.better_degree" :desc="currentPage.better"/>
                </li>
                <!--  其他一般情况变化-->
                 <li class="order-ul-li">
                    <div class="name">
                        <img src="../assets/estimate_symbol@2x.png" alt="">
                        <span>其他一般情况变化</span>
                    </div>
                    <showStatus :status="currentPage.other_degree" :desc="currentPage.other"/>
                </li>
                 <!-- 客户自我感受 -->
                <li class="order-ul-li">
                    <div class="name">
                        <img src="../assets/estimate_symbol@2x.png" alt="">
                        <span>客户自我感受</span>
                    </div>
                    <showStatus :status="currentPage.self_degree" :desc="currentPage.self"/>
                </li>
                <!-- 柔韧度变化 -->
                <li class="order-ul-li">
                    <div class="name">
                        <img src="../assets/estimate_symbol@2x.png" alt="">
                        <span>柔韧度变化</span>
                    </div>
                    <showStatus :status="currentPage.flexibility_degree" :desc="currentPage.flexibility  "/>
                </li>
                <!--  骨骼肌肉改善程度-->
                 <li class="order-ul-li">
                    <div class="name">
                        <img src="../assets/estimate_symbol@2x.png" alt="">
                        <span>骨骼肌肉改善程度</span>
                    </div>
                    <!-- <showStatus :status="currentPage.bones" /> -->
                    <div class="card">
                     <p class="desc">{{currentPage.bones||'暂无数据'}}</p>
                    </div>
                </li>
                 <!-- 异常指标变化 -->
                <li class="order-ul-li">
                    <div class="name">
                        <img src="../assets/estimate_symbol@2x.png" alt="">
                        <span>异常指标变化</span>
                    </div>
                    <div class="card">
                        <p class="desc">{{currentPage.unusual_quota||'暂无数据'}}</p>
                        <!-- <p class="desc">血压：{{currentPage.unusualChange.blood}}</p>
                        <p class="desc">血糖：{{currentPage.unusualChange.candy}}</p>
                        <p class="desc">心率：{{currentPage.unusualChange.heart}}</p>
                        <p class="desc">体重：{{currentPage.unusualChange.swight}}</p> -->
                    </div>
                </li>
                <!--体检指标变化  -->
                <li class="order-ul-li">
                    <div class="name">
                        <img src="../assets/estimate_symbol@2x.png" alt="">
                        <span>体检指标变化</span>
                    </div>
                    <div class="card img-card">
                        <p v-show="currentPage.test_quota.length==0" class="desc">暂无数据</p>
                        <div v-show="currentPage.test_quota.length!=0" class="img-box" v-for="item in currentPage.test_quota" :key="item.image">
                            <img :src="imgUrl+item.image" alt="">
                        </div>
                    </div>
                </li>
                 <!--整体评估  -->
                <li class="order-ul-li">
                    <div class="name">
                        <img src="../assets/estimate_symbol@2x.png" alt="">
                        <span>整体评估</span>
                    </div>
                    <div class="card">
                        <p class="desc">{{currentPage.assess}}</p>
                    </div>
                </li>
                <!-- 下一步调养方案 -->
                 <li class="order-ul-li">
                    <div class="name">
                        <img src="../assets/estimate_symbol@2x.png" alt="">
                        <span>下一步调养方案</span>
                    </div>
                    <div class="card next-plan"  v-html="currentPage.next_plan">
                       <!-- <span class="next-plan-item"># <span  v-html="currentPage.next_plan"></span></span> -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import headNav from '@/components/headNav'
import showStatus from '@/components/showStatus'
export default {
name:'assessmentForm',
components:{
 headNav,showStatus
},
data(){
    return {
        token:null,
        imgUrl:null,
        currentMeau:0,
        currentPage:null,//当前表单
        pages:[],//全部表单
    }
},
methods:{
    handleMeau(index){
        this.pages.map(item=>{
            if(item.id==(index+1)){
                this.currentPage=item
            }
            return item
        })
    },
    handleCurrentList(list){
        let arr=list
        list.map((item,index)=>{
            item.date_added=this.$moment(item.date_added).format("YYYY/MM/DD")
            let meauName='表'+this.toChinesNum(index+1)
            Object.assign(item,{meauName})
            return item
        })
        return arr
        
    },
     toChinesNum(num){
        let changeNum = ['零', '一', '二', '三', '四', '五', '六', '七', '八', '九']; //changeNum[0] = "零"
        let unit = ["", "十", "百", "千", "万"];
        num = parseInt(num);
        let getWan = (temp) => {
        let strArr = temp.toString().split("").reverse();
        let newNum = "";
        for (var i = 0; i < strArr.length; i++) {
        newNum = (i == 0 && strArr[i] == 0 ? "" : (i > 0 && strArr[i] == 0 && strArr[i - 1] == 0 ? "" : changeNum[strArr[i]] + (strArr[i] == 0 ? unit[0] : unit[i]))) + newNum;
        }
        return newNum;
    }
        let overWan = Math.floor(num / 10000);
        let noWan = num % 10000;
        if (noWan.toString().length < 4) noWan = "0" + noWan;
        return overWan ? getWan(overWan) + "万" + getWan(noWan) : getWan(num);
    }
   
},
mounted(){
   
},
created(){
    this.token=this.$url.token
    this.imgUrl=decodeURIComponent(this.$url.imgUrl)
    if(!this.token){
      this.Toast('token错误')
      return false
    }
    if(!this.imgUrl){
        this.Toast('图片路径错误')
        return false
    }
    let obj={method:'posts',url:'api/health/getCustomerAssesss',data:{token:this.token}}
    this.$http(obj).then(res=>{
        if(res.status==1){
            this.pages=res.data.customerAssesss
            if(this.pages.length==0){
                return false
            }
            this.pages=this.handleCurrentList(this.pages)
            this.currentPage=this.pages[0]
           // this.currentPage=this.handleCurrentObj(this.currentPage)
        }
    })
}
}
</script>

<style lang='scss'>
@function vw($px) {
    @return ($px / 750) * 100vw;
}
.assessmentForm{
    .top{
        .title{
            padding: 0 vw(40);
           font-size: vw(60);
           color: #000;
        }
    }
    .empty{
        padding: 20px 0;
        text-align: center;
    }
    .main{
        background: #F9F9F9;
        .order-box{
            height: vw(150);
            font-size: vw(24);
            color: rgb(153,153,153);
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: vw(30) vw(30);
            .doctor-top{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .doctor{
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
        .order-ul{
            padding: vw(40);
            &-li{
                margin-bottom: vw(40);
                .name{
                    color: #3F7BFF;
                    font-size: vw(34);
                    display: flex;
                    align-items: center;
                    margin-bottom: vw(40);
                    img{
                        width: vw(26);
                        margin-right: vw(10);
                    }
                }
                .card{
                    background: #fff;
                    border-radius: vw(22);
                    padding: vw(60);
                    box-shadow: 0 0 10px #eee;
                    .text{
                        color: #999;
                        font-size: vw(28);
                        line-height: vw(50);
                    }
                    .desc{
                        color: #272727 ;
                        font-size: vw(28);
                        line-height: vw(50);
                    }
                    &-bottom{
                        padding-top: vw(70);
                    }
                    
                }
                .face{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &-item{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .img-box{
                            margin-bottom: vw(30);
                            display: flex;
                            align-items: center;
                            width: vw(150);
                            height: vw(200);
                            border-radius: vw(10);
                            overflow: hidden;
                            img{
                                width: 100%;
                            }
                        }
                        span{
                            font-size: vw(22);
                            color: #999;
                        }
                    }
                }
                .line-img{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                    img{
                          height: vw(28);
                      }
                  span{
                      margin-left: vw(30);
                      color: #3F7BFF;
                      font-size: vw(28);
                  }
                }
                .img-card{
                    display: flex;
                    flex-wrap: wrap;
                    padding-bottom: vw(30);
                    justify-content: space-between;
                    .img-box{

                        width: vw(162);
                        height: vw(162);
                        border-radius: vw(8);
                        overflow: hidden;
                        margin-bottom: vw(30);
                        img{
                            height: 100%;
                        }
                    }
                }
                .next-plan{
                    padding-bottom: vw(30);
                    display: flex;
                    flex-wrap: wrap;
                    p{
                         /*! autoprefixer: off */
                        background: -webkit-linear-gradient(left,#315DFF,#2BDEFF);
                        /* autoprefixer: on */
                        background: -moz-linear-gradient(left,#315DFF,#2BDEFF);
                        background: -o-linear-gradient(left,#315DFF,#2BDEFF);
                        background:linear-gradient(left, #315DFF 0%, #2BDEFF 100%);
                        color: #fff;
                        font-size: vw(28);
                        height: vw(70);
                        line-height: vw(70);
                        border-radius: vw(70);
                        padding: 0 vw(40);
                        margin-right: vw(30);
                        margin-bottom: vw(30);
                    }
                }
               
            }
        }
    }
}
</style>
