<template>
    <div class="wrap contact">
         <div  class="header-t">
            <img @click="goback" class="back" src="../assets/return@2x.png" alt="">
        </div>
        <div class="main">
            <h1 v-show="!issubmit" class="title">请留下联系方式</h1>
            <h1 v-show="issubmit" class="title">提交成功</h1>
            <form class="moudel">
                <img v-show="!issubmit" class="c-img"  src="../assets/contact_way@2x.png" alt="">
                <img v-show="issubmit" class="c-img success"  src="../assets/succeeds@2x.png" alt="">
                <p v-show="!issubmit" class="note">请留下您的联系方式，我们将尽快替您提供健康方案</p>
                <p v-show="issubmit" class="note">您好，您我们已收到您的健康调查表，请保持电话通畅，您的健康顾问将会立即联系您！</p>
                <div v-show="!issubmit" class="">
                    <van-cell-group class="info-group">
                    <van-field
                        v-model="name" 
                        clearable
                        placeholder="请输入您的姓名"
                        input-align='center'
                        error-message='输入不能为空'
                    >
                    <img class="icon-img" slot="left-icon" src="../assets/user@2x.png" alt="">
                    </van-field>
                    <van-field
                        v-model="telephone" 
                        placeholder="请输入您的电话"
                        clearable
                        error-message='手机格式错误'
                        input-align='center'
                    >
                     <img class="icon-img" slot="left-icon" src="../assets/tele@2x.png" alt="">
                    </van-field>
                    </van-cell-group>
                </div>
                <div v-show="issubmit==true" class="weixin" >
                    <img :src="imgUrl+wxCodeImg" alt="">
                    <p>扫一扫添加顾问微信</p>
                </div>
            </form>
        </div>
        <div class="btn footer ">
            <a class="continue" v-show="!issubmit" @click="submit">提交</a>
            <a class="continue" v-show="issubmit==true" @click="backIndex">回到首页</a>
        </div>
    </div>
</template>

<script>
import { Toast } from 'vant'
import {mapState} from 'vuex'
import request from '@/modules/request'
export default {
name:'contact',
data(){
    return {
        token:null,
        imgUrl:null,
        name:'',
        telephone:'',
        nameErr:false,
        telErr:false,
        issubmit:false,
        wxCodeImg:null
    }
},
computed:{
    ...mapState('user',['token']),
    ...mapState('health',['healthForm'])
},
methods:{
    submit(){
       if(this.name=='' || this.telephone==''){
           Toast.fail('输入不能为空');
       }else{
           let reg=/^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/
           if(!reg.test(this.telephone)){
               Toast.fail('手机格式错误');
           }
           else{
                let customerBase={
                  customerName:this.name,
                  phone:this.telephone
                }
                let data=this.healthForm
                data=Object.assign({},data)
                data=Object.assign(data,{customerBase,token:this.token})
                let obj={method:'posts',url:'/api/health/assessmentInfoCheckIn',data}
                this.$http(obj).then(res=>{
                    if(res.status==1){
                        this.wxCodeImg=res.data.wxCodeImg
                        Toast.success("提交成功");
                        this.issubmit=true
                        //this.$storage.set('issubmit',this.issubmit)
                    }
                })
           }
       }
    },
    goback(){//返回
       if(this.issubmit){
           this.issubmit=false
       }else{
           this.$router.go(-1)
       }
       //this.$storage.set('issubmit',this.issubmit)
    },
    backIndex(){//回到首页
         window.open('http://guotan_return_home','_self')
    }
},
mounted(){
    let lib=this.$storage.get('lib')
    this.token=lib.token
    this.imgUrl=decodeURIComponent(lib.imgUrl)
}
}
</script>

<style lang="scss">
@function vw($px) {
    @return ($px / 750) * 100vw;
}
 .contact{
     
    .header-t{
        padding: 0 vw(40);
        line-height: vw(90);
    }
    .back{
        width: vw(50);
    }
    .title{
        margin: vw(50) 0;
        font-size: vw(56);
        color: #272727;
        text-align: center;
    }
    .main{
        padding: 0 vw(40);
        .moudel {
            .c-img{
                width: vw(300);
                display: block;
                margin: 0 auto;
                text-align: center;
            }
            .success{
                border: 1px dashed rgb(247, 174, 174);
                background: rgb(248, 237, 237);
            }
            .note{
                text-align: center;
                font-size: vw(26);
                padding: 0 vw(36);
                color: #999;
                line-height: vw(50);
                margin-top: vw(40);
                margin-bottom: vw(93);
            }
            .info-group{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .van-cell{
                width: vw(580);
                height: vw(84);
                border-radius: vw(43);
                margin-bottom: vw(50);
                border: 1px solid #DBDBDB;
            }
            .icon-img{
                width: vw(30);
            }
        }
        .weixin{
            margin-top: vw(100);
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                font-size: vw(22);
                margin-top: vw(20);
                color: #272727;
            }
        }
    }
    .btn{
        width: 100%;
        height: vw(110);
        border-top: vw(6) solid #eee;
        padding: vw(10) 0;
        cursor: pointer;
        .continue{
            width: 90%;
            display: block;
            height:vw(90);
            background: rgb(247, 39, 54);
            border-radius: vw(60);
            margin: 0 auto;
            line-height: vw(90);
            font-size: vw(34);
            text-align: center;
            color: #fff;
        }
    }
 }
</style>

