<template>
    <div class="keep-health" v-if="data">
        <!-- 固定导航栏 -->
        <div v-show="isFix" class="fix-box fixMeau" ref="fixmeau">
            <headNav  img='b' url='1' title="丹道养生"/>
            <van-tabs @click="changeMeau" class="meau" v-model="meauActive" :ellipsis='true'>
                <van-tab  v-for="(item,index) in meaus" :key="index+'o'">
                    <template slot="title">
                        <img v-show="meauActive==index"  src="../assets/circular@2x.png" alt="">
                        <span >{{item.text}}</span>
                    </template>
                </van-tab>
            </van-tabs>
        </div>
        <!-- 正文 -->
        <div class="header">
                <img @click="goback" class="back" src="../assets/return@2x.png" alt="">
                <div class="title">丹道养生</div>
        </div>
        <div class="adv-img">
             <img :src="imgUrl+data.backgroundImg" alt="">
        </div>
        <div class="slide-text">
            <div class="new-icon"><span>最新</span></div>
            <van-notice-bar class="text" mode="link">
                珠海和佳锦园店第17期丹道养生7日班即将开班
            </van-notice-bar>
            <img class="slide-text-icon" src="../assets/choice@2x.png" alt="">    
        </div>
        <van-tabs @click="changeMeau"  class="meau" v-model="currentIndex" :ellipsis='true'>
                <van-tab  v-for="(item,index) in meaus" :key="index+'p'">
                    <template slot="title">
                        <img v-show="currentIndex==index" src="../assets/circular@2x.png" alt="">
                        <span >{{item.text}}</span>
                    </template>
                </van-tab>
        </van-tabs>
        <div id="meau-content" class="meau-content" v-if="data">
            <div v-for="(content,index) in data.preservation" :key="index+'m'" class="meau-content-item"   ref="meau1">
                <div :id="'meau'+index" class="fixbug">&nbsp;</div>
                <div class="meau-content-item-title">{{content.name}}</div>
                <div v-if="index!=0"  class="content-adv">
                    <img :src="imgUrl+content.content" alt="">
                </div>
                <!-- 丹道养身 -->
                <div class="meau1-content" v-if="content.id==1">
                    <p class="em2">{{data.description}}</p>
                    <div class="spec-img">
                        <img :src="imgUrl+data.streamlineImage" alt="">
                    </div>
                    <ul class="meau1-ul">
                        <li v-for="item in data.detailImage" :key="item+'n'">
                            <img :src="imgUrl+item" alt="">
                        </li>
                    </ul>
                    <div  class="class-link" v-for="(course,index) in data.roadCourses" :key="index+'k'">
                    <p class="link-title">{{course.courseName}}</p>
                    <div class="img-box link-img">
                         <img :src="imgUrl+course.image" alt="">
                    </div>
                    <p class="em2">{{course.description}}</p>
                    <div class="link-card">
                        <div class="img-box ">
                            <img :src="imgUrl+course.image" alt="">
                        </div>
                        <div class="link-card-info">
                            <p class="link-card-info-name">【{{course.courseName}}】</p>
                            <p class="link-card-info-sub">
                                <span class="price">¥{{course.favorablePrice||course.price}}</span>
                                <span class="time">{{course.tag}}日课程  </span>
                            </p>
                            <p class="old-price">¥{{course.price}}</p>
                        </div>
                        <div @click="toSignUp(course)" class="btn">报名</div>
                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import headNav from '@/components/headNav'
export default {
name:'dandao',
components:{
    headNav
},
data(){
    return {
        isFix:false,
        data:null,
        meaus:null,
        meauActive:0,
        token:null,
        imgUrl:null,
        length:0,
        currentIndex:0,
    }
},
methods:{
    goback(){
        window.open('http://guotan_return_back','_self')
    },
    getElementToPageTop(el) {
        if(el.parentElement) {
            return this.getElementToPageTop(el.parentElement) + el.offsetTop
        }
        return el.offsetTop
    },
    handleScroll(){
        //页面元素距离浏览器工作区顶端的距离 = DOM元素对象.offsetTop - document.documentElement.scrollTop 
        var scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop
        if(scrollTop>=240){
             this.isFix=true
             this.$refs.fixmeau.style.opacity=1
         }else if(scrollTop<=240){
             this.isFix=false
             this.$refs.fixmeau.style.opacity=0
        }
        var items = document.getElementById("meau-content").querySelectorAll(".meau-content-item");
        for (var i = 0; i < items.length; i++) {
            var _item = items[i];
            var _itemTop = _item.offsetTop;
            if (scrollTop > _itemTop - 120) {
                console.log( this.currentIndex)
               this.meauActive = i;
               this.currentIndex=i;
            } else {
              break;
            }
        }
        if(scrollTop!=240){
            let op=(scrollTop-240)/10
            this.$refs.fixmeau.style.opacity=op
        }
         
    },
    changeMeau(index, title){
        // this.meauActive=index
        // this.currentIndex=index
        // console.log(this.currentIndex)
        // this.meaus.map((item,index)=>{
        //     if(this.currentIndex==index){
        //         item.selected=true
        //     }
        //     return item
        // })
        document.getElementById(`meau${index}`).scrollIntoView();
    },
    toSignUp(obj){
        window.open(`http://guotan_signUp/classDesc?id=${obj.id}`,'_self')
    }
},
mounted(){
    window.addEventListener('scroll', this.handleScroll)
},
created(){
    this.token=this.$url.token
    this.imgUrl=decodeURIComponent(this.$url.imgUrl)
    if(!this.token){
      this.Toast('token错误')
      return false
    }
    if(!this.imgUrl){
        this.Toast('图片路径错误')
        return false
    }
   let obj={method:'posts',url:'/api/health/preservationContent',data:{token:this.token}}
   this.$http(obj).then(res=>{
       if(res.status==1){
           this.data=res.data
           this.meaus=res.data.preservation.map(item=>{
               return {text:item.name,id:item.id,selected:false}
           })
           this.length=this.meaus.length
           this.meaus[0].selected=true
       }
   })
},
destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
},

}
</script>

<style lang='scss'>
@function vw($px) {
    @return ($px / 750) * 100vw;
}
.keep-health{
    background: #F9F9F9;
    width: 100%;
    height: 100%;
    .fixMeau{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 1000;
        .meau {
            margin: 0;
        }
    }
    .img-box{
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .em2{
        text-indent: 2em;
        line-height: vw(52);
        color: #666;
        font-size: vw(28);
    }
    .header{
        padding: 0 vw(40);
        display: flex;
        flex-direction: column;
        line-height:vw(90);
        background: #fff;
        .back{
            width: vw(50);
            margin: vw(20) 0;
        }
        .title{
        font-weight: bold;
        font-size: vw(40);
        height: vw(90);
        line-height: vw(90);
        box-shadow:0 vw(10) vw(10) vw(-10) #eee;
        }
        
    }
     .adv-img{
        background: #fff;
        height: vw(260);
        margin: vw(30);
        border-radius: vw(20);
        overflow: hidden;
        box-sizing: border-box;
        img{
            width: 100%;
        }
     }
    .slide-text{
        padding: 0 vw(30);
        height: vw(60);
        display: flex;
        align-items: center;
        position: relative;
        background: #fff;
        overflow: hidden;
        &-icon{
            width: vw(20);
            position: absolute;
            top: vw(14);
            right:vw(30);
        }
        .new-icon{
            text-align: center;
            margin-right: vw(15);
            line-height: vw(37);
            width: vw(65);
            height: vw(37);
            font-size: vw(22);
            background: #F72736;
            color: #fff;
            transform: skewX(-20deg);
            span{
                display: block;
                transform: skewX(20deg) !important;
            }
        }
        .text{
            flex: 1;
        }
        .van-notice-bar--withicon{
                padding-right: vw(30);
                padding-left: vw(10);
            }
        .van-notice-bar{
            color: #333;
            background: #fff;
            
            .van-notice-bar__right-icon{
                display: none;
            }
        }
    }
   
     .meau{
        box-shadow: 0px 0px 8px 0px #eee;
        margin: vw(24) 0;
        .van-tabs__wrap{
          .van-tabs__nav{
              .van-tabs__line{
                  display: none;
              }
              .van-tab{
                  font-size: 12px;
                  padding: 0;
                  div{
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      img{
                          width: vw(16);
                          margin-right: 3px;
                      }
                  }
              }
              
          }
        }
    }
    .meau-content{
        background: #F9F9F9;
        &-item{
            position: relative;
            overflow: hidden;
            margin-bottom: vw(24);
            padding-bottom: vw(60) ;
            box-shadow: 0 0 vw(12) 0 #eee;
            background: #fff;
            .fixbug{
                position: absolute;
                top: -100px;
                left: 0;
            }
            &-title{
                color: #272727;
                padding: vw(40) vw(40);
                 font-size: vw(34);
                 font-weight: bolder;
            }
            &-title::before{
                content: '';
                position: relative;
                top: vw(-4);
                display: inline-block;
                background: #272727;
                width: vw(15);
                height: vw(15);
                border-radius: vw(15);
                margin-right: vw(15);
            }
            .content-adv{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            

        }
        .meau1-content{
            .meau1-ul{
                width: 100%;
                li{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }
            .class-link{
                margin-top: vw(65);
                padding: 0 vw(40);
                .em2{
                    margin-bottom: vw(50);
                    padding: 0;
                }
                .link-title{
                    font-weight: bold;
                    text-align: center;
                    font-size: vw(36);
                    color: #272727;
                }
                .link-img{
                    margin: vw(55) 0;
                    height: vw(340);
                    border-radius: vw(22);
                }
                .link-card{
                    background: #F1F1F1;
                    border-radius: vw(18);
                    padding: vw(20) vw(35);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .img-box{
                        width: vw(120);
                        height: vw(120);
                        border-radius: 50%;
                    }
                    &-info{
                        flex: 1;
                        padding-left: vw(20);
                        &-name{
                            font-weight: bold;
                            font-size: vw(30);
                            color: #272727;
                        }
                        &-sub{
                            
                            margin-top: vw(15);
                            margin-bottom: vw(10);
                            font-size: vw(34);
                            color: #F72736;
                            .price{
                                font-weight: bold;
                            }
                            .time{
                                font-size: vw(22);
                                color:#999;
                            }
                        }
                        .old-price{
                            text-decoration: line-through;
                            font-size: vw(22);
                            color:#999;
                        }
                        
                    }
                    .btn{
                            height: vw(50);
                            width: vw(100);
                            font-size: vw(26);
                            text-align: center;
                            line-height: vw(50);
                            color: #fff;
                             /*! autoprefixer: off */
                            background: -webkit-linear-gradient(left,#EE6369,#F72736);
                            /* autoprefixer: on */
                            background: -moz-linear-gradient(left,#EE6369,#F72736);
                            background: -o-linear-gradient(left,#EE6369,#F72736);
                            background:linear-gradient(left, #EE6369 0%, #F72736 100%);
                            border-radius: vw(50);
                        }
                }
            }
            .spec-img{
                width: 100%;
                height: auto;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
            .em2{
                padding: 0 vw(40);
            }
        }
    }
}
</style>
