<template>
  <div class="wrap detail">
    <!-- 售后详情 -->
    <van-tabs v-if="detail" id="afterSale" ref="afterSale" @click="handleMeau" class="good-info" animated>
      <van-tab class="pro-intro" title="商品介绍" v-if="detail">
        <div v-for="item in detail.images" :key="item.image"  class="img-box">
           <img :src="imgUrl+item.image" alt>
        </div>
        
      </van-tab>
      <van-tab  class="after-sale" title="咨询与售后">
        <div v-html="detail.information"></div>
      </van-tab>
    </van-tabs>
  </div>
</template>

<script>
import { Toast } from "vant";
export default {
  name: "detail",
  data() {
    return {
      detail:null,
      token:null,
      imgUrl:null,
      id:null,
    };
  },
  methods: {
    handleMeau(index) {
       
    },
    getAfterSaleDivOffsetHeight: () => {
      return new Promise((resolve, reject) => {
        setTimeout(function() {
          resolve(document.getElementById("afterSale").offsetHeight);
        }, 1000);
      });
    }
  },
  async mounted() {
    let info = this.info;
    // Toast.fail(`token=${info.token}`)
    
    window.getHeight=this.getAfterSaleDivOffsetHeight
  },
  created(){
    this.token=this.$url.token
    this.id=this.$url.id
    this.imgUrl=decodeURIComponent(this.$url.imgUrl)
    if(!this.token){
      this.Toast('token错误')
      return false
    }
    if(!this.id){
      this.Toast('id错误')
      return false
    }
    let obj={method:'posts',url:'/api/catalog/product/goodsDetail',data:{token:this.token,id:this.id}}
    this.$http(obj).then(res=>{
        if(res.status==1){
            this.detail=res.data
        }
    })
    
  }
};
</script>

<style lang='scss'>
@function vw($px) {
  @return ($px / 750) * 100vw;
}
.detail {
  .van-tab {
    color: #272727;
  }
  .van-tab--active {
    color: #f72736;
  }
  .good-info {
    background: #fff;
    .van-tabs__wrap {
      border-bottom: 1px solid #e5e5e5;
      border-top: 1px solid #e5e5e5;
    }
    .van-tabs .van-tab__pane {
      overflow-x: hidden;
    }
    .pro-intro {
      width: 100%;
      overflow: hidden;
      padding: vw(40) 0;
      img {
        width: 100%;
      }
    }
    .after-sale {
      width: 100%;
      overflow: hidden;
      padding: vw(40);
      padding-bottom: vw(40);
      p {
        color: #b3b3b3;
        line-height: vw(40);
        font-size: vw(30);
        .sub {
          color: #272727;
        }
      }
      .title {
        margin: vw(40) 0;
        color: #272727;
        font-size: vw(28);
      }
    }
  }
}
</style>
