<template>
    <div class="wrap guide">
       <headNav img='b' url='1' title="自助取货指引"/>
       <div class="main" v-if="list">
          <ul class="address-list">
              <li v-for="item in list" :key="item.products">
                  <div class="name">{{item.products}}</div>
                  <div class="address-box">请前往【{{item.deliveryAddress}}】取药</div>
              </li>
          </ul>
       </div>
       <div class="foot">可以联系您的健康顾问带您去取货！</div>
    </div>
</template>

<script>
import headNav from '@/components/headNav'
export default {
name:'guide',
components:{
 headNav
},
data(){
    return {
        list:null,
        token:null,
        imgUrl:null,
        id:null,
    }
},
created(){
    this.token=this.$url.token
    this.id=this.$url.id
    this.imgUrl=decodeURIComponent(this.$url.imgUrl)
    if(!this.token){
      this.Toast('token错误')
      return false
    }
    if(!this.id){
      this.Toast('id错误')
      return false
    }
    if(!this.imgUrl){
        this.Toast('图片路径错误')
        return false
    }
    let obj={method:'posts',url:'/api/deliverer/getGuidTaking',data:{id:this.id,token:this.token}}
    this.$http(obj).then(res=>{
        if(res.status==1){
            this.list=res.data.guidTaking
        }
    })
    
}
}
</script>

<style lang='scss'>
@function vw($px) {
    @return ($px / 750) * 100vw;
}
.guide{
    .headnav{
        box-shadow:0 5px 10px -5px #eee;
        .title-b {
            font-weight: bolder;
            font-size: vw(34);
        }
    }
  .main{
      background: #F9F9F9;
      padding: vw(25) vw(30);
      .address-list{
          li{
              background: #fff;
              padding: vw(45);
              border-radius: vw(22);
              margin-bottom: vw(25);
              box-shadow: 0 0 10px #eee;
              .name{
                color: #666;
                font-size: vw(28);
                margin-bottom: vw(40);
              }
              .name::before{
                  content: '';
                  background: #6ECCB2;
                  display: inline-block;
                  width: vw(16);
                  height: vw(16);
                  border-radius: vw(16);
                  margin-right: vw(10);
              }
              .address-box{
                  background: #F3F3F3;
                  border-radius: vw(80);
                  color: #272727;
                  font-size: vw(32);
                  font-weight: bold;
                  text-align: center;
                  line-height: vw(80);
              }
          }
      }
  }
  .foot{
      color: #B3B3B3;
      font-size: vw(28);
      text-align: center;
      padding-bottom: vw(60);
      background: #F9F9F9;
  }
}
</style>
