<template>
    <div class="wrap HealthEntry">
        <div v-show="isShow" ref="headNav" id="headNav" class="head-box">
            <div  class="head-nav">
                <img @click="returnBack" class="img"  src="../assets/return@2x.png" alt="back">
                <span class="title-b">健康方案</span>
                <span class="img"></span>
            </div>
        </div>
        <div v-if="list" class="mainn">
           <div class="mainn-top">
               <headNav img='w' url='1' />
               <h1>健康方案</h1>
               <div class="entry">
                   <div class="img-box">
                      <img src="../assets/health_program@2x.png" alt="">
                   </div>
                   <div class="desc">
                       <h2>健康综合解决方案</h2>
                       <h3>道法自然，天人合一</h3>
                   </div>
                   <div class="btn-box">
                       <button @click="toHealth" class="btn">立即体验</button>
                   </div>
               </div>
           </div>
           <div class="mainn-meau">
                <div :class="item.ischeck?'mainn-meau-item active':'mainn-meau-item'" @click="changeMeau(item)" v-for="(item,index) in meau" :key="item.text">
                    <div :class="index==0?'rotate l':'rotate r'">
                        <div class="img-box"><img v-show="item.ischeck" src="../assets/circular@2x.png" alt=""></div>
                        <span>{{item.text}}</span>
                    </div>
                    <div :class="index==0?'space sl':'space sr'"></div>
                </div>
           </div>
           <div class="mainn-content">
             <div class="img-box">
                 <img v-if="currentContent.pic" :src="imgUrl+currentContent.pic" alt="">
             </div>
             <!-- <p class="desc">{{currentContent.content}}</p> -->
           </div>
           <!-- 回到顶部 -->
           <div v-show="isShow" ref="toTop" id="totop" class="fixDiv">
               <div @click="goTop" class="btnn backtop">
                   <img src="../assets/top.png" alt="">
               </div>
               <div @click="toHealth" class="btnn">立即<br/>体验</div>
           </div>
        </div>
    </div>
</template>

<script>
import headNav from '@/components/headNav'
export default {
name:'HealthEntry',
components:{
 headNav
},
data(){
    return{
        token:null,
        imgUrl:null,
        list:null,
        meau:[],
        currentContent:null,
        isShow:false,
        currentIndex:0,
    }
},
methods:{
    changeMeau(obj){
        this.currentIndex=obj.id
        this.meau.map(item=>{
            item.ischeck=false
            if(item.text==obj.text){
                item.ischeck=true
            }
            return item
        })
        this.list.map(item=>{
            if(item.id==obj.id){
                this.currentContent=item
            }
            return item
        })
    },
    toHealth(){
        this.$router.push('/health')
    },
    returnBack(){
       window.open('http://guotan_return_back','_self')
    },
    scrollToTop(el) {
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
        if(scrollTop!=265){
            let op=0
            op=(scrollTop-266)/50
            this.$refs.toTop.style.opacity=op
            this.$refs.headNav.style.opacity=op
        }
        if (scrollTop >265) {
            this.isShow=true
        } else {
            this.isShow=false
        }
    },
    goTop(){
        let that=this
        let speed=50
        let scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
        this.timer = setInterval(() => {
            if (scrollTop>speed) {
                scrollTop-=speed
                document.body.scrollTop = scrollTop
                document.documentElement.scrollTop = scrollTop
            } else {
                document.body.scrollTop = 0
                document.documentElement.scrollTop =0
                clearInterval(that.timer)
            }
        },1)
    }
},
mounted () {
    window.addEventListener('scroll', this.scrollToTop)
},
destroyed () {
    window.removeEventListener('scroll', this.scrollToTop); 
},
created(){
    this.token=this.$url.token
    this.imgUrl=decodeURIComponent(this.$url.imgUrl)
    if(!this.token){
      this.Toast('token错误')
      return false
    }
    if(!this.imgUrl){
        this.Toast('图片路径错误')
        return false
    }
    this.$storage.set('lib',{token:this.token,imgUrl:this.imgUrl})
    let obj={method:'posts',url:'/api/health/programContent',data:{token:this.token}}
    this.$http(obj).then(res=>{
        if(res.status==1){
            this.list=res.data.programmeContentList
            this.meau=res.data.programmeContentList.map(item=>{
                return {id:item.id,text:item.programme_name,ischeck:false}
            })
            this.list=this.list.reverse()
            this.meau=this.meau.reverse()
            this.meau[0].ischeck=true
            this.currentContent=this.list[0]
            this.currentIndex=this.list[0].id
        }
    })
}
}
</script>

<style lang='scss'>
@function vw($px) {
    @return ($px / 750) * 100vw;
}
.HealthEntry{
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    .fixDiv{
           position: fixed;
           bottom: 118px;
           right: 35px;
           .btnn{
               overflow: hidden;
               display: flex;
               align-items: center;
               justify-content: center;
               width: vw(112);
               height: vw(112);
               border-radius: 50%;
               font-size: vw(28);
               color: #fff;
               background: #F72736;
           }
           .backtop{
               background: #fff;
               margin-bottom: vw(40);
               img{
                   width: vw(80);
               }
           }
    }
    .head-box{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        box-shadow:0 5px 10px -5px #eee;
        .head-nav{
            width: 100%;
            background: #fff;
            height: vw(88);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:0 vw(40);
            .img{
                display: inline-block;
                width: vw(50);
            }
            .title-b{
                color: #000;
                font-size: vw(34);
            }
        }
    }
    
   .mainn{
       width: 100%;
       &-top{
            position: relative;
            padding: 0 vw(60);
            height: vw(400);
            background: url('../assets/bg_one@2x.png') no-repeat center bottom;
            background-size: cover;
            .headnav{
                padding: 0;
                margin-bottom: vw(100);
            }
            h1{
                color: #fff;
                font-size: vw(60);
                font-weight: bold;
            }
            .entry{
                position: absolute;
                bottom:vw(-88);
                width: vw(630);
                height: vw(178);
                border-radius: vw(24);
                background-color: rgba(255, 255, 255, 1);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: vw(40) vw(30);
                .img-box{
                    width: vw(100);
                    height: vw(100);
                    border-radius: 50%;
                }
                .desc{
                    h2{
                        color: #272727;
                        font-size: vw(36);
                        font-weight: bold;
                    }
                    h3{
                        color: #B3B3B3 ;
                        font-size: vw(22);
                        padding-top: 2.5vw;
                    }
                }
                .btn-box{
                    .btn{
                        width: vw(152);
                        height: vw(52);
                        border-radius: vw(26);
                        border: none;
                        color: #fff;
                        font-size: vw(22);
                         /*! autoprefixer: off */
                        background: -webkit-linear-gradient(left,#F72736,#EE6369);
                        /* autoprefixer: on */
                        background: -moz-linear-gradient(left,#F72736,#EE6369);
                        background: -o-linear-gradient(left,#F72736,#EE6369);
                        background:linear-gradient(left, #F72736 0%, #EE6369 100%);
                            }
                }
            }
       }
       &-meau{
           margin-top: vw(125);
           width:100%;
           height:vw(100);
           display: flex;
           align-items: center;
           justify-content: space-between;
           box-shadow: 0px 0px 8px 0px rgba(240, 240, 240, 1);
           background: none;
           &-item{
                height:vw(100);
                width: 50%;
                overflow: hidden;
               .img-box{
                   width: vw(20);
                   height: vw(20);
                   margin-right: 1vw;
               }
               .rotate{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    font-size: vw(28);
                    color: #999;
               }
           }
           .active{
               overflow: hidden;
               color: #272727;
               position: relative;
                width: 59%;
               .rotate{
                    width: 94%;
                    background: #fff;
                    
               }
               .l{
                    transform: skewX(-30deg);
                    span{
                        transform: skewX(30deg);
                    }
                    img{
                        transform: skewX(30deg);
                    }
               }
               .r{
                    transform: skewX(-30deg);
                    margin-left: vw(40);
                    span{
                        transform: skewX(30deg);
                    }
                    img{
                        transform: skewX(30deg);
                    }
               }
               .space{
                   height:vw(100);
                   position: absolute;
                   top: 0;
                   width: vw(100);
                   background: #fff;
               }
               .sl{
                   left: 0;
               }
               .sr{
                   right: 0;
               }
           }
       }
       &-content{
           padding:0;
            background: #fff;
       }
   }
}
</style>
