<template>
    <div class="wrap health">
        <!-- 导航 -->
        <div v-show="currentPage!==9" class="header">
            <img @click="goback" class="back" src="../assets/return@2x.png" alt="">
            <router-link to="/contact" tag="span" class="skip">跳过</router-link>
        </div>
        <div v-show="currentPage===9" class="header">
            <img @click="goback" class="back" src="../assets/return@2x.png" alt="">
            <span class="pwrite">请填写</span>
            <span class="ps" @click="saveHospital">保存</span>
        </div>
        <div class="main">
                 <!-- 标题 -->
        <h1 v-show="currentPage!==9" class="health-title">{{title}}</h1>
        <!-- 1锻炼频率 -->
        <div v-show="currentPage===1" class="content">
            <div class="moudel">
                <h3 class="subtitle">体育锻炼</h3>
                <div class="m-title">
                    <img src="../assets/sign@2x.png" alt="">
                    <span>锻炼频率</span>
                </div>
                <div class="list">
                    <p :class="currentId==item.id?'actived':''" @click="selectFrequency(item.id)" v-for="item in list" :key="item.id">{{item.text}}</p>
                </div>
            </div>
            <div class="moudel">
                    <div class="m-title">
                        <img src="../assets/sign@2x.png" alt="">
                        <span>每次锻炼时间</span>
                    </div>
                        <van-field
                            type="number"
                            v-model="customerAssessment.exerciseTime"
                            placeholder="请输入时间"
                            clearable
                            input-align='center'
                        >
                        <span slot="right-icon" class="unit">分钟</span>
                        </van-field>
                </div>
                <div class="moudel">
                        <div class="m-title">
                            <img src="../assets/sign@2x.png" alt="">
                            <span>坚持锻炼时间</span>
                        </div>
                        <van-field
                            v-model="customerAssessment.exerciseDuration" 
                            placeholder="请输入时间"
                            clearable
                            type="number"
                            input-align='center'
                        >
                        <span slot="right-icon" class="unit">年</span>
                        </van-field>
                    </div>
        </div>
        <!-- 2 体育锻炼 吸烟情况-->
        <div v-show="currentPage===2" class="content">
            <div class="moudel">
                <h3 class="subtitle">体育锻炼</h3>
                <div class="m-title">
                    <img src="../assets/sign@2x.png" alt="">
                    <span>锻炼方式</span>
                </div>
                <div class="list">
                        <p @click="selectItem(item.id)" :class="item.selected?'actived':''" v-for="item in list2" :key="item.id">{{item.text}}</p>
                        <van-field
                            class="other-style"
                            v-model="customerAssessment.exerciseModeOther" 
                            placeholder="请输入其它锻炼方式"
                            clearable
                            input-align='center'
                        >
                        <span slot="left-icon" class="unit">其它</span>
                        </van-field>
                </div>
            </div>
            <div class="moudel">
                    <h3 class="subtitle">吸烟情况</h3>
                    <div class="m-title">
                        <img src="../assets/sign@2x.png" alt="">
                        <span>吸烟状况</span>
                    </div>
                    <div class="list">
                            <p :class="item.selected?'actived':''" @click="selectItem31(item.id)" v-for="item in list31" :key="item.id">{{item.text}}</p>
                    </div>
                </div>
        </div>
        <!-- 3-1吸烟情况 -->
        <div  v-show="currentPage==31"   class="content">
            <div class="moudel">
                <h3 class="subtitle">吸烟情况</h3>
                <div class="m-title">
                    <img src="../assets/sign@2x.png" alt="">
                    <span>日吸烟量</span>
                </div>
                <van-field
                            v-model="customerAssessment.smokingVolume" 
                            placeholder="请输入吸烟数量"
                            clearable
                            type="number"
                            input-align='center'
                        >
                        <span slot="left-icon" class="unit">平均</span>
                        <span slot="right-icon" class="unit">支</span>
                    </van-field>
            </div>
            <div class="moudel">
                    <div class="m-title">
                        <img src="../assets/sign@2x.png" alt="">
                        <span>吸烟年龄</span>
                    </div>
                    <van-field
                        v-model="customerAssessment.smokingAge" 
                        placeholder="请输入吸烟年龄"
                        clearable
                        type="number"
                        input-align='center'
                    >
                        <span slot="right-icon" class="unit">岁</span>
                        <span slot="left-icon" class="unit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </van-field>
                </div>
                <div class="moudel">
                        <div class="m-title">
                            <img src="../assets/sign@2x.png" alt="">
                            <span>戒烟年龄</span>
                        </div>
                        <van-field
                            v-model="customerAssessment.quitSmokingAge" 
                            placeholder="请输入戒烟年龄"
                            clearable
                            type="number"
                            input-align='center'
                        >
                            <span slot="right-icon" class="unit">岁</span>
                            <span slot="left-icon" class="unit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </van-field>
                    </div>
        </div>
        <!-- 3-2饮食习惯 -->
         <div v-show="currentPage==32" class="content">
            <div class="moudel">
                <h3 class="subtitle">饮食习惯</h3>
                <div class="m-title">
                    <img src="../assets/sign@2x.png" alt="">
                    <span>饮食情况</span>
                </div>
                <div class="list">
                        <p :class="item.selected?'actived':''" @click="selectDiet(item.id)" v-for="item in dietList" :key="item.id">{{item.text}}</p>
                </div>
            </div>
            <div class="moudel">
                    <h3 class="subtitle">饮酒情况</h3>
                    <div class="m-title">
                        <img src="../assets/sign@2x.png" alt="">
                        <span>饮酒频率</span>
                    </div>
                    <div class="list">
                        <p :class="item.selected?'actived':''" @click="selectDrink(item.id)" v-for="item in drinkList" :key="item.id">{{item.text}}</p>
                    </div>
                </div>
        </div>
        <!-- 4 饮酒情况-->
         <div v-show="currentPage===4" class="content">
            <div class="moudel">
                <h3 class="subtitle">饮酒情况</h3>
                <div class="m-title">
                    <img src="../assets/sign@2x.png" alt="">
                    <span>日饮酒量</span>
                </div>
                <van-field
                    v-model="customerAssessment.alcoholConsumption" 
                    placeholder="请输入日饮酒量"
                    clearable
                    type="number"
                    input-align='center'
                >
                    <span slot="right-icon" class="unit">两</span>
                    <span slot="left-icon" class="unit">平均</span>
                </van-field>
            </div>
            <div class="moudel">
                    <div class="m-title">
                        <img src="../assets/sign@2x.png" alt="">
                        <span>是否戒酒</span>
                    </div>
                    <div class="list">
                        <p :class="item.selected?'actived':''" @click="isDrink(item.id)" v-for="item in stopDrinkList" :key="item.id">{{item.text}}</p>
                        <van-field
                            class="other-style"
                            v-model="customerAssessment.abstinenceAge" 
                            placeholder="请输入戒酒年龄"
                            clearable
                            type="number"
                            input-align='center'
                        >
                            <span slot="left-icon" class="unit">戒酒年龄</span>
                            <span slot="right-icon" class="unit">岁</span>
                        </van-field>    
                    </div>
                </div>
                <div class="moudel">
                        <div class="m-title">
                            <img src="../assets/sign@2x.png" alt="">
                            <span>开始饮酒年龄</span>
                        </div>
                         <van-field
                            v-model="customerAssessment.abstinenceYear" 
                            placeholder="请输入开始饮酒年龄"
                            clearable
                            type="number"
                            input-align='center'
                        >
                            <span slot="right-icon" class="unit">岁</span>
                        </van-field>
                    </div>
        </div>
        <!-- 5 饮酒情况-->
        <div v-show="currentPage===5" class="content">
            <div class="moudel">
                <h3 class="subtitle">饮酒情况</h3>
                <div class="m-title">
                    <img src="../assets/sign@2x.png" alt="">
                    <span>近一年是否醉酒</span>
                </div>
                <div class="list">
                    <p @click="selectItem5(item.id)" :class="item.selected?'actived':''" v-for="item in list5" :key="item.id">{{item.text}}</p>
                    
                </div>
            </div>
            <div class="moudel">
                    <div class="m-title">
                        <img src="../assets/sign@2x.png" alt="">
                        <span>饮酒种类</span>
                    </div>
                    <div class="list">
                        <p @click="wineListSelect(item.id)" :class="item.selected?'actived':''" v-for="item in wineList" :key="item.id">{{item.text}}</p>
                    </div>
                    <van-field
                        v-model="customerAssessment.typeDrinkingOther"
                        class="other-style"
                        placeholder="请输入其他酒类"
                        clearable
                        input-align='center'
                    >
                        <span slot="left-icon" class="unit">其它</span>
                    </van-field>
                </div>
        </div>
        <!-- 6 请输入其它既往史-->
         <div  v-show="currentPage===6" class="content">
            <div class="moudel">
                    <div class="list">
                            <p @click="selectItem6(item.id)" :class="item.selected?'actived':''" v-for="item in list6" :key="item.id">{{item.text}}</p>
                            <van-field
                               v-model="customerAssessment.pastHistoryOther" 
                                placeholder="请输入其它既往史"
                                class="other-style"
                                clearable
                                input-align='center'
                            >
                                <span slot="left-icon" class="unit">其它</span>
                            </van-field>
                    </div>
                </div>
        </div>
        <!-- 7家族史 -->
        <div v-show="currentPage===7" class="history">
          <p class="item"  @click="showModel(1)">
              <span class="name">父亲</span>
              <input readonly type="text" v-model="father" class="time" placeholder="请选择">
              <img class="to" src="../assets/choice@2x.png" alt="rigt">
          </p>
          <p class="item"  @click="showModel(2)">
                <span class="name">母亲</span>
                <input readonly v-model="mother" type="text" class="time" placeholder="请选择">
                <img class="to" src="../assets/choice@2x.png" alt="rigt">
            </p>
            <p class="item" @click="showModel(3)">
                    <span class="name">兄弟姐妹</span>
                    <input readonly v-model="brothersAndSisters" type="text" class="time" placeholder="请选择">
                    <img class="to" src="../assets/choice@2x.png" alt="rigt">
            </p>
            <p class="item" @click="showModel(4)">
                    <span class="name">子女</span>
                    <input readonly v-model="children" type="text" class="time" placeholder="请选择">
                    <img class="to" src="../assets/choice@2x.png" alt="rigt">
            </p>
        </div>
        <van-actionsheet class="history-pop content" v-model="show" title="请选择">
         <img @click="closePop" class="close-pop" src="../assets/down@2x.png" alt="">
         <div class="moudel">
              <div class="list">
               <p :class="item.selected?'actived':''" @click="choiceIll(item.id)" v-for="item in illList" :key="item.id">{{item.text}}</p>
               <van-field
                   v-model="inputIll"
                    placeholder="请输入其它既往史"
                    class="other-style"
                    clearable
                    input-align='center'
                >
                    <span slot="left-icon" class="unit">其它</span>
                </van-field>
           </div>
           <div class="save">
               <button class="save-btn" @click="save">保存</button>
           </div>
         </div>
        </van-actionsheet>
        <!-- 8住院时 -->
         <div v-show="currentPage===8" class="history">
            <p class="no-history" v-show="hospitalizationHistory.length==0">暂无住院史</p>
          <div @click="editHistory(item,index)" class="item" v-for="(item,index) in hospitalizationHistory" :key="item.id">
              <span class="name">住院史{{index+1}}</span>
              <p class="time">
                  <span>{{item.date_admission}}</span>
                  <span>-</span>
                  <span>{{item.discharge_date}}</span>
              </p>
              <img class="to" src="../assets/choice@2x.png" alt="rigt">
          </div>
        <div class="additem" @click="addHospital">添加</div>
       </div>
      
       <!-- 9添加住院史 -->
       <div v-show="currentPage===9" class="content">
            <div class="box">
                    <div class="file-box">
                            <p class="f-title">住院时间</p>
                            <p class="fi" @click="selectTime">
                              <input class="input-time"  v-model="currenthospitalizationHistory.time" readonly type="text" placeholder="请选择住院时间" />
                               <img  src="../assets/right_arrow@2x.png" alt="">
                            </p>
                            
                            
                    </div>
                    <div class="file-box">
                        <p class="f-title">住院原因</p>
                        <textarea class="reason"  v-model="currenthospitalizationHistory.reason"  placeholder="请输入" />
                    </div>
            </div>
        </div>
        <!-- 时间选择 -->
        <van-popup class="date-box" v-show="showDate && currentPage==9" v-model="showDate" position="bottom" :overlay="true">
            <div class="date-box-head">
                <span @click="cancel" class="date-box-head-cancel">取消</span>
                <span @click="confirm" class="date-box-head-confirm">确定</span>
            </div>
            <div class="date-box-middle">
                <input @click="handleStartTime" :class="currentTimeType===0?'time focus':'time'"  v-model="startTime" readonly type="text" placeholder="开始时间" />
                <img src="../assets/right_arrow@2x.png" alt="">
                <input @click="handleEndTime" :class="currentTimeType===1?'time focus':'time'"  v-model="endTime" readonly type="text" placeholder="结束时间" />
            </div>
            <van-datetime-picker
            v-model="currentDate"
            type="date"
            :formatter="formatter"
            @change="getValues"
            />
        </van-popup>
        
        <!-- 10目前症状 -->
        <div  v-show="currentPage===10" class="content">
            <div class="moudel">
                    <div class="list">
                            <p @click="selectCurrentIll(item.id)" :class="item.selected?'actived':''" v-for="item in currentIll" :key="item.id">{{item.text}}</p>
                            <van-field
                                v-model="customerAssessment.currentSituationOther"
                                placeholder="请输入其它既往史"
                                class="other-style"
                                clearable
                                input-align='center'
                            >
                                <span slot="left-icon" class="unit">其它</span>
                            </van-field>
                    </div>
                </div>
        </div>
        </div>
    
       <!-- footer -->
        <div v-show="currentPage!==9" @click="submitPage" class="btn footer ">
            <span class="continue">继续</span>
        </div>
    </div>
</template>

<script>
import {mapState,mapMutations} from 'vuex'
import moment from 'moment'
import { Toast ,Dialog } from 'vant'
import MultiSelect from '~/MultiSelect'
export default {
    name:'Lifstyle',
    components:{
        MultiSelect
    },
    data(){
        return {
            title:'您的生活方式？',
            customerAssessment:{//生活方式
                exerciseFrequency:null,//锻炼频率
                exerciseTime:null,//每次锻炼时间
                exerciseDuration:null,//坚持锻炼时间
                exerciseMode:null,//锻炼方式
                exerciseModeOther:null,//锻炼方式---qita
                smokingStatus:null,//吸烟状况
                smokingVolume:null,//日吸烟量
                smokingAge:null,//开始吸烟年龄
                quitSmokingAge:null,//开始戒烟年龄
                eatingHabits:null,//饮食习惯
                frequencyDrinking:null,//饮酒频率
                alcoholConsumption:null,//日饮酒量
                abstinence:null,//是否戒酒
                abstinenceAge:null,//戒酒年龄
                abstinenceYear:null,//开始饮酒年龄
                drunkennessYear:null,//近一年是否曾醉酒
                typeDrinking:null,//饮酒种类
                typeDrinkingOther:null,//饮酒种类---qita
                pastHistory:null,//既往史
                pastHistoryOther:null,//既往史---qita
                currentSituation:null,//目前症状
                currentSituationOther:null,//目前症状---qita
            },
            familyHistory:{//家族史
                father:null,
                fatherOther:null,
                mother:null,
                motherOther:null,
                brothersAndSisters:null,
                brotherOther:null,
                children:null,
                childrenOther:null,
            },
            hospitalizationHistory:[],//住院史
            list:[
                {id:1,text:'每天'},
                {id:2,text:'每周1次以上'},
                {id:3,text:'偶尔'},
                {id:4,text:'不锻炼'},
            ],
            currentPage:1,//当前页面
            currentId:null,
            currenttext:null,
            lastId:null,
            checked:false,
            list2:[//22222222222222222222222222222222222
            {id:1,text:'散步',selected:false},
            {id:2,text:'跑步',selected:false},
            {id:3,text:'游泳',selected:false},
            {id:4,text:'太极',selected:false},
            {id:5,text:'羽毛球',selected:false},
            {id:6,text:'高尔夫',selected:false},
            ],
            otherExeciseStyle:null,//其他锻炼方式
             list31:[//33333333333333311111111111
                {id:1,text:'从不吸烟',selected:false},
                {id:2,text:'吸烟',selected:false},
                {id:3,text:'偶尔吸烟',selected:false},
                {id:4,text:'已戒烟',selected:false},
            ],
            lastId31:null,
            dietList:[//333333333333333333333333333333322222222222222222222
                {id:1,text:'荤素为主',selected:false},
                {id:2,text:'荤食为主',selected:false},
                {id:3,text:'素食为主',selected:false},
                {id:4,text:'嗜盐',selected:false},
                {id:5,text:'嗜油',selected:false},
                {id:6,text:'嗜糖',selected:false},
            ],
            drinkList:[
                {id:1,text:'从不',selected:false},
                {id:2,text:'偶尔',selected:false},
                {id:3,text:'经常',selected:false},
                {id:4,text:'每天',selected:false},
            ],
            lastIdDiet:null,
            lastIdDrink:null,
            stopDrinkList:[//44444444444444444
                {id:1,text:'未戒酒',selected:false},
                {id:2,text:'已戒酒',selected:false}
            ],
            lastId4:null,
            list5:[//5555555555555555
               {id:1,text:'否',selected:false},
               {id:2,text:'是',selected:false}
            ],
            lastId5:null,
            wineList:[//555555555555555555555
                {id:0,text:'无',selected:false},
                {id:1,text:'白酒',selected:false},
                {id:2,text:'啤酒',selected:false},
                {id:3,text:'红酒',selected:false},
                {id:4,text:'洋酒',selected:false},
                {id:5,text:'药酒',selected:false},
            ],
            otherWine:'',//其他酒类
            list6:[//6666666666666666
                {id:1,text:'无',selected:false},
                {id:2,text:'高血压',selected:false},
                {id:3,text:'糖尿病',selected:false},
                {id:4,text:'冠心病',selected:false},
                {id:5,text:'慢性阻塞性肺疾病',selected:false},
                {id:6,text:'恶性肿瘤',selected:false},
                {id:7,text:'脑卒中',selected:false},
                {id:8,text:'重性精神疾病',selected:false},
                {id:9,text:'结核病',selected:false},
                {id:10,text:'肝炎',selected:false},
                {id:11,text:'其他法定传染病',selected:false},
                {id:12,text:'职业病',selected:false}, 
            ],
            otherPast:'',
            show:false,//7777777777777
            familyType:'',
            inputIll:'',//家族史其他
            illList:[
                {id:1,text:'无',selected:false},
                {id:2,text:'高血压',selected:false},
                {id:3,text:'糖尿病',selected:false},
                {id:4,text:'冠心病',selected:false},
                {id:5,text:'慢性阻塞性肺疾病',selected:false},
                {id:6,text:'恶性肿瘤',selected:false},
                {id:7,text:'脑卒中',selected:false},
                {id:8,text:'结核病',selected:false},
                {id:9,text:'肝炎',selected:false},
                {id:10,text:'先天畸形',selected:false},
            ],
            father:'',
            mother:'',
            brothersAndSisters:'',
            children:'',
            currentDate: new Date(),//88888888888888
            showDate:false,
            selectFamilyId:{},
            choiceTime:[],//99999999999
            confirmIndex:1,
            currentTimeType:0,//选择的是开始时间 0还是结束时间1
            startTime:'',
            endTime:'',
            Time:'',
            reason:'',//住院原因
            currentIll:[//1010101001010目前症状
                {id:1,text:'无',selected:false},
                {id:2,text:'头痛',selected:false},
                {id:3,text:'头晕',selected:false},
                {id:4,text:'心悸',selected:false},
                {id:5,text:'胸闷',selected:false},
                {id:6,text:'胸痛',selected:false},
                {id:7,text:'慢性咳嗽',selected:false},
                {id:8,text:'咳痰',selected:false},
                {id:9,text:'呼吸困难',selected:false},
                {id:10,text:'多饮',selected:false},
                {id:11,text:'多尿',selected:false},
                {id:12,text:'体重下降',selected:false},
                {id:13,text:'乏力',selected:false},
                {id:14,text:'关节肿痛',selected:false},
                {id:15,text:'视力模糊',selected:false},
                {id:16,text:'手脚麻木',selected:false},
                {id:17,text:'尿急',selected:false},
                {id:18,text:'尿痛',selected:false},
                {id:19,text:'便秘',selected:false},
                {id:20,text:'腹泻',selected:false},
                {id:21,text:'恶心呕吐',selected:false},
                {id:22,text:'眼花',selected:false},
                {id:23,text:'耳鸣',selected:false},
                {id:24,text:'乳房肿痛',selected:false},
            ],
            otherill:'',
            currenthospitalizationHistory:{time:'',reason:''},//目前需要修改的住院史
        }
    },
    computed:{
        
    },
    methods:{
        ...mapMutations('health',['editCustomerAssessment','editFamilyHistory','editHospitalizationHistory']),
        fiterSelected(arr){
            arr=arr.filter(item=>item.selected==true)
            return arr.map(item=>item.id)
        },
        fiterSelectedText(arr){
            arr=arr.filter(item=>item.selected==true)
            return arr.map(item=>item.text)
        },
        selectFrequency(id){//1锻炼频率
          if(this.currentId==id){
              this.checked=!this.checked
            if(this.checked){
            this.currentId=id
            }else{
                this.currentId=null
            }
          }
          else{
              this.checked=true
               if(this.checked){
                   this.currentId=id
                }else{
                    this.currentId=null
                } 
          }
          this.customerAssessment.exerciseFrequency=this.currentId
        },
        selectItem(id){//2222222222222
            this.list2=this.multiSelect(this.list2,id)
        },
        selectItem31(id){//33333333111111111
        this.list31=this.radioSelect(this.list31,this.lastId31,id)
        this.lastId31=id
        },
        selectDiet(id){//33333333333322222222222222
        this.dietList=this.radioSelect(this.dietList,this.lastIdDiet,id)
        this.lastIdDiet=id
        },
        selectDrink(id){
        this.drinkList=this.radioSelect(this.drinkList,this.lastIdDrink,id)
        this.lastIdDrink=id
        },
        isDrink(id){//44444444444444
            this.stopDrinkList=this.radioSelect(this.stopDrinkList,this.lastId4,id)
            this.lastId4=id
        },
        selectItem5(id){//555555555
            this.list5=this.radioSelect(this.list5,this.lastId5,id)
            this.lastId5=id
        },
        wineListSelect(id){//饮酒种类
           this.wineList=this.multiSelect(this.wineList,id)
        },
        getList(list){//555555555555
            //this.wineList=list
            this.wineList=this.multiSelect(this.wineList,id)
        },
        selectItem6(id){//66666666666
            this.list6=this.multiSelect(this.list6,id)
        },
        multiSelect(list, id) { // 定义全局方法   this.multiSelect()调用
            let isNo=false
            return list.map(item => {
                
                if(item.id === id && item.text=='无'){
                    isNo=true
                }
                if (item.id === id) {
                    item.selected = !item.selected
                }
                if(isNo){
                    item.selected=false
                    if (item.id === id) {
                        item.selected = !item.selected
                    }
                }else{
                     if(item.text=='无'){
                        item.selected=false
                    }
                }
                return item
            })
        },
        radioSelect(list, lastId, id) { // 定义全局方法   this.radioSelect()调用
            return list.map(item => {
                if (lastId === id) {
                    if (item.id === id) {
                        item.selected = !item.selected
                    }
                } else {
                    item.selected = false
                    if (item.id === id) {
                        item.selected = !item.selected
                    }
                }
                return item
            })
        },
        showModel(type){//77777777777
            this.familyType=type
            this.show=true
        },
        closePop(){
           this.show=false
        },
        save(){//保存家族史
            let arr=this.illList.filter(item=>item.selected==true)
            arr=arr.map(item=>item.text)
            if(this.inputIll!=''){
                arr.push(this.inputIll)
            }
            let illList=this.fiterSelectedText(this.illList)//家族史-多选
            switch(this.familyType){
                case 1://father
                    this.familyHistory.father=illList.join(',')
                    this.familyHistory.fatherOther=this.inputIll
                    this.father=arr.join('、')
                    break; 
                case 2://mother
                    this.familyHistory.mother=illList.join(',')
                    this.familyHistory.motherOther=this.inputIll
                    this.mother=arr.join('、')
                    break; 
                case 3://brothersAndSisters
                    this.familyHistory.brothersAndSisters=illList.join(',')
                    this.familyHistory.brotherOther=this.inputIll
                    this.brothersAndSisters=arr.join('、')
                    break; 
                case 4://children
                    this.familyHistory.children=illList.join(',')
                    this.familyHistory.childrenOther=this.inputIll
                    this.children=arr.join('、')
                    break;  
                default:
                    break;
                }
            this.illList=this.illList.map(item=>{
                item.selected=false
                return item
            })
            this.inputIll=''
            this.show=false
        },
        choiceIll(id){
            this.illList=this.multiSelect(this.illList,id)
        },
        formatter(type, value) {
            if (type === 'year') {
                return `${value}年`;
            } else if (type === 'month') {
                return `${value}月`
            }
            return `${value}日`;
        },
        selectTime(str){//88888888888
            this.showDate=true
            this.currentTimeType=0
        },
        handleStartTime(){//点击开始时间
            this.currentTimeType=0
        },
        handleEndTime(){//点击结束时间
             this.currentTimeType=1
        },
        getValues(e){
            let time=e.getValues()
            time=time.map(item=>{
                item=item.slice(0,item.length-1)
                return item
            })
            time=time.join('-')
            if(this.currentTimeType===0){
                this.startTime=time
            }
            else{
                this.endTime=time
            }
        },
        cancel(){//时间取消按钮
            this.showDate=false
            this.currentTimeType=0
        },
        confirm(){//时间确认按钮
           // console.log(this.$moment(this.endTime).isBefore(this.startTime))
            if(this.startTime==''){
                Toast.fail('请选择开始时间');
            }
            else if(this.endTime==''){
                Toast.fail('请选择结束时间');
            }
            else if(this.$moment(this.endTime).isBefore(this.startTime)){
                Toast('时间选择错误，开始时间不能大于结束时间，请重新选择');
            }
            else{
               this.showDate=false
               this.currenthospitalizationHistory.time=`${this.startTime.split('-').join('/')}-${this.endTime.split('-').join('/')}`
            }
        },
        addHospital(){//添加住院史
           this.currentPage=9
        },
        saveHospital(){//提交住院史
           if(this.currenthospitalizationHistory.reason==''){
               Toast.fail('住院原因不能为空');
           }
           else{
               if(this.currenthospitalizationHistory.isEdit){
                   this.hospitalizationHistory.map((item,index)=>{
                       if(index==this.currenthospitalizationHistory.index){
                           if(this.startTime==''||this.endTime==''){
                                item.reasons_hospitalization=this.currenthospitalizationHistory.reason
                           }
                           else{
                               let obj={date_admission:this.startTime.split('-').join('/'),discharge_date:this.endTime.split('-').join('/'),reasons_hospitalization:this.currenthospitalizationHistory.reason}
                               Object.assign(item,obj)
                           }
                       }
                       return item
                   })
               }else{
                   let obj={date_admission:this.startTime.split('-').join('/'),discharge_date:this.endTime.split('-').join('/'),reasons_hospitalization:this.currenthospitalizationHistory.reason}
                   this.hospitalizationHistory.push(obj)
               }
               
               this.currentPage=8
               this.startTime=''
               this.endTime=''
               this.currenthospitalizationHistory.time=''
               this.currenthospitalizationHistory.reason=''
               this.showDate=false
              
           }
           
        },
        editHistory(item,index){//修改住院史
            console.log(index)
            let time=`${item.date_admission}-${item.discharge_date}`
            let obj={time,reason:item.reasons_hospitalization,isEdit:true,index}
            this.currenthospitalizationHistory=obj
            this.currentPage=9
        },
        selectCurrentIll(id){//目前症状
           this.currentIll=this.multiSelect(this.currentIll,id)
        },
        goback(){
           switch(this.currentPage){
                case 7:
                    this.title='您的既往史？';
                    this.currentPage=6;
                    break;
                case 2:
                    this.currentPage=1;
                    break;
                case 1:
                    window.open('http://guotan_return_back','_self')
                    this.currentPage=1;
                    break;
                case 31:
                    this.currentPage=2;
                    break;
                 case 32:
                    this.currentPage=31;
                    break;
                case 4:
                    this.currentPage=32;
                    break;
                case 5:
                    this.currentPage=4;
                    break;
                case 6:
                    this.title='您的生活方式？'
                    this.currentPage=5;
                    break;
                case 8:
                    this.title='您的家族史？'
                    this.currentPage=7;
                    break;
                case 9:
                    this.startTime=''
                    this.endTime=''
                    this.reason=''
                    this.title='您的住院史？'
                    this.currentPage=8;
                    break;
                case 10:
                    this.title='您的住院史？'
                    this.currentPage=8;
                    break;
            }
            this.$storage.set('currentPage',this.currentPage)
           //sessionStorage.setItem('currentPage',JSON.stringify(this.currentPage))
        },
        submitPage(){
            switch(this.currentPage){
                case 1:
                    this.editCustomerAssessment(this.customerAssessment)
                    this.currentPage=2;
                    break;
                case 2:
                    this.currentPage=31;
                    let arr=this.fiterSelectedText(this.list2)//锻炼方式多选
                    // arr.push(this.otherExeciseStyle)
                    this.customerAssessment.exerciseMode=arr.join(',')
                    this.editCustomerAssessment(this.customerAssessment)
                    break;
                case 31:
                    this.currentPage=32;
                    let arr31=this.fiterSelected(this.list31)//吸烟状态-单选
                    this.customerAssessment.smokingStatus=arr31.join(',')
                    this.editCustomerAssessment(this.customerAssessment)
                    break;
                case 32:
                    let dietList=this.fiterSelected(this.dietList)//饮食习惯-单选
                    this.customerAssessment.eatingHabits=dietList.join(',')
                    let drinkList=this.fiterSelected(this.drinkList)//饮酒频率-单选
                    this.customerAssessment.frequencyDrinking=drinkList.join(',')
                    this.editCustomerAssessment(this.customerAssessment)
                    this.currentPage=4;
                    break;
                case 4:
                    let stopDrinkList=this.fiterSelected(this.stopDrinkList)//是否解救--单选
                    this.customerAssessment.abstinence=stopDrinkList.join(',')
                    this.editCustomerAssessment(this.customerAssessment)
                    this.currentPage=5;
                    break;
                case 5:
                    let list5=this.fiterSelected(this.list5)//单选
                    this.customerAssessment.drunkennessYear=list5.join(',')
                    let wineList=this.fiterSelectedText(this.wineList)//饮酒类型--多选
                    // if(this.otherWine!='')
                    // wineList.push(this.otherWine)
                    this.customerAssessment.typeDrinking=wineList.join(',')
                    this.editCustomerAssessment(this.customerAssessment)
                    this.currentPage=6;
                    this.title='您的既往史？';
                    break;
                case 6:
                    let list6=this.fiterSelectedText(this.list6)//既往史-多选
                    // if(this.otherPast!='')
                    // list6.push(this.otherPast)
                    this.customerAssessment.pastHistory=list6.join(',')
                    this.editCustomerAssessment(this.customerAssessment)
                    this.currentPage=7;
                    this.title='您的家族史？'
                    break;
                case 7:
                    this.editFamilyHistory(this.familyHistory)
                    this.currentPage=8;
                    this.title='您的住院史？'
                    break;
                case 8:
                    this.currentPage=10;
                    this.editHospitalizationHistory(this.hospitalizationHistory)
                    this.title='您目前症状？'
                    break;
                case 10:
                    let currentIll=this.fiterSelectedText(this.currentIll)//目前症状-多选
                    // if(this.otherill!='')
                    // currentIll.push(this.otherill)
                    this.customerAssessment.currentSituation=currentIll.join(',')
                    this.editCustomerAssessment(this.customerAssessment)
                    this.$router.push('/contact')
                    break;
            }
            this.$storage.set('currentPage',this.currentPage)
            //sessionStorage.setItem('currentPage',JSON.stringify(this.currentPage))
        }
    },
    mounted(){
        let info=this.info
        this.currentPage=this.$storage.get('currentPage')||1
        switch(this.currentPage){
            case 10:
                this.title='您目前症状？';
                break;
            case 8:
                this.title='您的住院史？';
                break;
            case 7:
                this.title='您的家族史？';
                break;
            case 6:
                this.title='您的既往史？';
                break;
            default:
                this.title='您的生活方式？'
                break;
        }
    },
    created(){
        this.token=this.$url.token
        //console.log(this.token,this.$url)
        if(!this.token){
        this.Toast('token错误')
        return false
        }
    }
}
</script>

<style lang="scss">
@function vw($px) {
    @return ($px / 750) * 100vw;
}
.health{
    .header{
        width: 100%;
        height: vw(90);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 vw(40);
        .back{
            width: vw(50);
        }
        .skip{
            font-size: vw(32);
            color: #999;
        }
        .pwrite{
            color: #000;
            font-size: vw(34);
        }
        .ps{
            font-size: vw(28);
            color: #999;
        }
    }
    .actived{
            border: 1px solid red !important;
            color: red !important;
            background: rgba(247, 39, 54,0.1)
    }
    &-title{
        font-size: vw(56);
        color: #272727;
        text-align: center;
        margin: vw(55) 0;
    }
    .content{
        width: 100%;
        flex: 1;
        padding: 0 vw(40);
        .box{
            border-bottom: 1px solid #eee;
        }
        
        .moudel{
            width: 100%;
            overflow: hidden; 
            .subtitle{
                color: #272727;
                font-size: vw(32);
                font-weight: 700;
                line-height: vw(30);
                padding-bottom: vw(40);
            }
            .m-title{
                display: flex;
                align-items: center;
                font-size: vw(32);
                color: rgb(153, 153, 153);
                margin-bottom: vw(40);
                img{
                    width: vw(20);
                    margin-right: vw(15);
                }
                span{
                    font-size: vw(26);
                    color: #999;
                }
            }
            .list{
                
                overflow: hidden;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                p{
                    width: 46%;
                    margin-top: 0;
                    flex-direction: row;
                    text-align: center;
                    line-height: vw(86);
                    font-size: vw(28);
                    padding: 0 vw(40);
                    color: #272727;
                    border:1px solid #DBDBDB;
                    border-radius: vw(60);
                    margin-bottom: vw(32);
                }
                .other{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    input{
                        text-align: center;
                        flex: 1;
                        outline: none;
                    }
                }
            }
        }
        .file-box{
            margin-top: vw(64);
            width: 100%;
            min-height: vw(116);
            position: relative;
            .f-title{
                color:#272727;
                font-size: vw(24);
                margin-bottom: vw(30);
            }
            .fi{
                display: flex;
                padding-bottom: vw(30);
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #eee;
                input{
                   font-size:vw(28);
                }
                img{
                    width: vw(20);
                }
            } 

            .reason{
                font-size:vw(28);
                border: none;
                width: 100%;
                padding-top: vw(4);
            }
            input{
                width: 80%;
                height: vw(80);
                outline: none;
            }
             .right-arrow{
                position: absolute;
                right: 0px;
                top: vw(40);
                img{
                    width: vw(20);
                }
            }
            .input-time{
                height: vw(50);
            }
        }
    }
    .history{
            flex: 1;
            width: 100%;
            padding: 0 vw(40);
            margin: 0 auto;
            .no-history{
                text-align: center;
                margin: vw(30) 0;
            }
            .item{
                position: relative;
                width: 100%;
                height: vw(86);
                display: flex;
                font-size: vw(28);
                align-items: center;
                padding: 0 vw(40);
                align-items: center;
                justify-content: space-between;
                color: #272727;
                border:1px solid #DBDBDB;
                border-radius: vw(60);
                margin-bottom: vw(40);
                padding: 0 vw(20);
                .name{
                    position: absolute;
                    left:vw(20);
                    top:vw(24);
                    width: 22%;
                    margin-top: vw(4);
                }
                .time{
                    padding: 0 vw(110);
                    width: 100%;
                    text-align: center;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                }
                input{
                    width: 100%;
                    text-align: center;
                }
                 .to{
                    width: vw(20);
                }
            }
             .additem{
                color: rgb(247, 39, 54);
                font-size: vw(28);
                text-align: center;
            }
    }
    // 家族史弹窗
    .history-pop{
        border-top-left-radius: vw(32);
        border-top-right-radius: vw(32);
        overflow: hidden;
        .close-pop{
            width: vw(30);
            position: relative;
            top: vw(-94);
            left: vw(630);
        }
        .van-actionsheet__header{
            margin: vw(30);
            color: #272727;
            font-size: vw(36);
        }
        .van-actionsheet__close{
            display: none;
        }
        .save{
            display: flex;
            padding-bottom: vw(60);
            justify-content: center;
            &-btn{
                background: #F72736;
                width: vw(315);
                height: vw(86);
                border: none;
                border-radius: vw(86);
                color: #fff;
                font-size: vw(36);
            }
        }
    }
    .btn{
        width: 100%;
        height: vw(110);
        border-top: vw(6) solid #eee;
        padding: vw(10) 0;
        cursor: pointer;
        .continue{
            width: 90%;
            display: block;
            height: 42px;
            background: rgb(247, 39, 54);
            border-radius: vw(60);
            margin: 0 auto;
            line-height: vw(90);
            font-size: vw(34);
            text-align: center;
            color: #fff;
        }
    }
    
        /* 表单输入框 */
        .van-cell{
            
            border: 1px solid #DBDBDB;
            border-radius: vw(86);
            height: vw(86);
            margin: 0 auto;
            margin-top:vw(30);
            margin-bottom: vw(60);
            .unit{
                color: #272727;
            }
           
        }
        .van-field__left-icon .van-icon, .van-field__right-icon .van-icon{
            font-size: vw(40);
            color: #999;
        }
        .van-field__error-message{
            position: relative;
            bottom: vw(-40);
        }
        .other-style{
            margin-top: 0;
        }
}
.date-box{
    width: 100%;
    &-head{
        border-bottom: 1px solid #eee;
        display: flex;
        padding: vw(30) vw(40);
        align-items: center;
        justify-content: space-between;
        font-size: vw(28);
        &-cancel{
            color: #272727;
        }
        &-confirm{
             color: #F72736;
        }
    }
    &-middle{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0 vw(40);
        margin: vw(20) 0;
        img{
            width: vw(20);
        }
        .time{
            border-radius: vw(10);
            width: 40%;
            height: vw(60);
            border: 1px solid #eee;
            font-size: vw(24);
            padding: 0 vw(10);
            line-height: vw(60);

        }
        .focus{
            border: 1px solid #EE6369;
        }
    }
    .van-picker__toolbar{
        display: none; 
    }
}

</style>
