<template>
    <div class="wrap healthForm">
        <div class="top">
            <headNav img='b' url='1' />
            <div class="title">个人健康登记表</div>
            <van-tabs v-if="data" @click="handleMeau" v-model="currentMeau" swipeable>
                <van-tab v-for="item in meau" :key="item.id" :title="item.title"></van-tab>
            </van-tabs>
        </div>
        <div class="main" >
            <ul class="order-ul">
                <li  class="order-ul-li" id="meau1">
                    <div class="name">
                        <img src="../assets/bullets@2x.png" alt="">
                        <span>基础信息</span>
                    </div>
                    <p v-if="!customerBase">暂无数据</p>
                    <div v-if="customerBase" class="card userinfo">
                        <div class="img-box">
                            <img :src="imgUrl+customerBase.photo" alt="">
                        </div>
                        <p class="username">{{customerBase.customerName||'-'}}</p>
                        <ul class="user-box">
                            <li>性别：{{customerBase.gender==0&&'保密'||customerBase.gender==1&&'男'||customerBase.gender==2&&'女'||'-'}}</li>
                            <li>年龄：{{customerBase.age||'-' }}</li>
                            <li>电话：{{customerBase.phone||'-'}}</li>
                            <li>生日：{{customerBase.birthDate||'-'}}</li>
                        </ul>
                    </div>
                </li>
                <li  class="order-ul-li" id="meau2">
                    <div class="name">
                        <img src="../assets/bullets@2x.png" alt="">
                        <span>一般状况</span>
                    </div>
                    <p v-if="!customerAssessment">暂无数据</p>
                    <div v-if="customerAssessment" class="card info">
                        <div class="custome-info">
                            <p class="text">身高：{{customerAssessment.height||'-'}} cm</p>
                            <p class="text">体重：{{customerAssessment.weight||'-'}} kg</p>
                            <p class="text">腰围：{{customerAssessment.waistline||'-'}} cm </p>
                            <p class="text">血压：{{customerAssessment.bloodPressure||'-'}} mmHg </p>
                            <p class="text">健康状态自我评估：{{customerAssessment.selfEvaluation==1&&'满意'||customerAssessment.selfEvaluation==2&&'基本满意'||customerAssessment.selfEvaluation==3&&'说不清楚'||customerAssessment.selfEvaluation==4&&'不太满意'||customerAssessment.selfEvaluation==5&&'不满意' ||'-'}}</p>
                        </div>
                    </div>
                </li>
                 <li class="order-ul-li" id="meau3">
                    <div class="name">
                        <img src="../assets/bullets@2x.png" alt="">
                        <span>生活方式</span>
                    </div>
                    <p v-if="!customerAssessment">暂无数据</p>
                    <div v-if="customerAssessment" class="card style">
                        <img class="card-bg" src="../assets/bulletss@2x.png" alt="">
                        <p class="card-name">体育锻炼</p>
                        <p class="text">锻炼频率：{{customerAssessment.exerciseFrequency==1&&'每天'||customerAssessment.exerciseFrequency==2&&'每周1次以上'||customerAssessment.exerciseFrequency==3&&'偶尔'||customerAssessment.exerciseFrequency==4&&'不锻炼'||'-'}}</p>
                        <p class="text">每次锻炼时间：{{customerAssessment.exerciseTime||'-'}}分钟</p>
                        <p class="text">坚持锻炼时间：{{customerAssessment.exerciseDuration||'-'}}年</p>
                        <p class="text">锻炼方式：{{customerAssessment.exerciseMode}}{{customerAssessment.exerciseModeOther}}</p>
                    </div>
                    <div v-if="customerAssessment" class="card style">
                        <img class="card-bg" src="../assets/bulletss@2x.png" alt="">
                        <p class="card-name">饮食习惯</p>
                        <p class="text">饮食习惯：{{customerAssessment.eatingHabits==1&&'荤素为主'||customerAssessment.eatingHabits==2&&'荤食为主'||customerAssessment.eatingHabits==3&&'素食为主'||customerAssessment.eatingHabits==4&&'嗜盐'||customerAssessment.eatingHabits==5&&'嗜油'||customerAssessment.eatingHabits==6&&'嗜糖'||'-'}}</p>
                    </div>
                    <div v-if="customerAssessment" class="card style">
                        
                        <img class="card-bg" src="../assets/bulletss@2x.png" alt="">
                        <p class="card-name">吸烟情况</p>
                        <p class="text">吸烟状况：{{customerAssessment.smokingStatus==1&&'从不吸烟'||customerAssessment.smokingStatus==2&&'吸烟'||customerAssessment.smokingStatus==3&&'偶尔吸烟'||customerAssessment.smokingStatus==4&&'已戒烟'||'-'}}</p>
                        <p class="text">日吸烟量：平均{{customerAssessment.smokingVolume||'-'}}支</p>
                        <p class="text">吸烟年龄：{{customerAssessment.smokingAge||'-'}}岁</p>
                        <p class="text">戒烟年龄：{{customerAssessment.quitSmokingAge||'-'}}岁</p>
                    </div>
                    <div v-if="customerAssessment" class="card style">
                        
                        <img class="card-bg" src="../assets/bulletss@2x.png" alt="">
                        <p class="card-name">饮酒情况</p>
                        <p class="text">饮酒频率：{{customerAssessment.frequencyDrinking==1&&'从不'||customerAssessment.frequencyDrinking==2&&'偶尔'||customerAssessment.frequencyDrinking==3&&'经常'||customerAssessment.frequencyDrinking==4&&'每天'||'-'}}</p>
                        <p class="text">日饮酒量：{{customerAssessment.alcoholConsumption||'-'}}两</p>
                        <p class="text">是否戒酒：{{customerAssessment.abstinence==1&&'未戒酒'||customerAssessment.abstinence==2&&'已戒酒'||'-'}}</p>
                        <p class="text">戒酒年龄：{{customerAssessment.abstinenceAge||'-'}}岁</p>
                        <p class="text">开始饮酒年龄：{{customerAssessment.abstinenceYear||'-'}}岁</p>
                        <p class="text">近一年内是否曾醉酒：{{customerAssessment.drunkennessYear==1&&'否'||customerAssessment.drunkennessYear==2&&'是'||'-'}}</p>
                        <p class="text">饮酒种类：{{customerAssessment.typeDrinking}}{{customerAssessment.typeDrinkingOther}}</p>
                    </div>
                     <div v-if="customerAssessment" class="card style">
                        <img class="card-bg" src="../assets/bulletss@2x.png" alt="">
                        <p class="card-name">既往史</p>
                        <p class="text">即往史：{{customerAssessment.pastHistory}}{{customerAssessment.pastHistoryOther}}</p>
                        
                    </div>
                    <div v-if="familyHistory" class="card style">
                        <img class="card-bg" src="../assets/bulletss@2x.png" alt="">
                        <p class="card-name">家族史</p>
                        <p class="text">父亲：{{familyHistory.father}}{{familyHistory.fatherOther}}</p>
                        <p class="text">母亲：{{familyHistory.mother}}{{familyHistory.motherOther}}</p>
                        <p class="text">兄弟姐妹：{{familyHistory.brothersAndSisters}}{{familyHistory.brotherOther}}</p>
                        <p class="text">子女：{{familyHistory.children}}{{familyHistory.childrenOther}}</p>
                    </div>
                     <div v-if="hospitalizationHistory" class="card style">
                        <img class="card-bg" src="../assets/bulletss@2x.png" alt="">
                        <p class="card-name">住院史</p>
                        <div v-for="item in hospitalizationHistory" :key="item.assessment_id ">
                           <p class="time">{{item.date_admission||'-'}}-{{item.discharge_date||'-' }}</p>
                           <p class="text">{{item.reasons_hospitalization||'-'}}</p>
                        </div>
                    </div>
                    <div v-if="customerAssessment" class="card style">
                        <img class="card-bg" src="../assets/bulletss@2x.png" alt="">
                        <p class="card-name">目前症状</p>
                        <p class="text">{{customerAssessment.currentSituation}}{{customerAssessment.currentSituationOther}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import headNav from '@/components/headNav'
export default {
name:'healthForm',
components:{
 headNav
},
data(){
    return {
        token:null,
        imgUrl:null,
        currentMeau:0,
        meau:[
            {id:1,title:'基础信息'},{id:2,title:'一般状况'},{id:3,title:'生活方式'}
        ],
        data:null,
        customerBase:null,
        customerAssessment:null,
        familyHistory:null,
        hospitalizationHistory: null,
    }
},
methods:{
    handleMeau(index){
        index=index+1
        document.getElementById(`meau${index}`).scrollIntoView();
    },
    handleTime(list){
        return list.map(item=>{
            let date_admission=(item.date_admission)
            item.date_admission=this.$moment(date_admission).format('YYYY/MM/DD')
            let discharge_date=(item.discharge_date)
            item.discharge_date=this.$moment(discharge_date).format('YYYY/MM/DD')
            return item
        })
    }
},
mounted(){
    
},
created(){
    this.token=this.$url.token
    this.imgUrl=decodeURIComponent(this.$url.imgUrl)
    if(!this.token){
      this.Toast('token错误')
      return false
    }
    if(!this.imgUrl){
        this.Toast('图片路径错误')
        return false
    }
    let obj={method:'posts',url:'/api/health/assessmentInfo',data:{token:this.token}}
    this.$http(obj).then(res=>{
        if(res.status==1){
            this.data=res.data
            this.customerBase=res.data.customerBase
            this.hospitalizationHistory=this.handleTime(res.data.hospitalizationHistory)
            this.familyHistory=res.data.familyHistory
            this.customerAssessment=res.data.customerAssessment
        }
    })
}
}
</script>

<style lang='scss'>
@function vw($px) {
    @return ($px / 750) * 100vw;
}
.healthForm{
    .top{
        .title{
            padding: 0 vw(40);
           font-size: vw(60);
           color: #000;
        }
    }
    .main{
        background: #F9F9F9;
        .order-ul{
            padding:0 vw(40);
            &-li{
                padding-top: vw(40);
                .name{
                    color: #6ECCB2;
                    font-size: vw(28);
                    display: flex;
                    align-items: center;
                    margin-bottom: vw(40);
                    img{
                        width: vw(26);
                        margin-right: vw(10);
                    }
                }
                .card{
                    background: #fff;
                    border-radius: vw(22);
                    padding: vw(60) vw(30);
                    box-shadow: 0 0 10px #eee;
                    position: relative;
                    overflow: hidden;
                    &-bg{
                        width: vw(25);
                        position: absolute;
                        left: vw(-10);
                        top: vw(70);
                    }
                    &-name{
                        font-weight: bold;
                        line-height: vw(60);
                        color: #272727;
                        font-size: vw(36);
                    }
                    .text{
                        color: #999;
                        font-size: vw(30);
                        line-height: vw(60);
                    }
                    .time{
                        line-height: vw(60);
                        color: #272727;
                        font-size: vw(30);
                    }
                   
                }
                .userinfo{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    .img-box{
                        overflow: hidden;
                        width: vw(130);
                        height: vw(130);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: vw(130);
                        border: vw(6) solid rgba($color: #ddd, $alpha: 0.5);
                        img{
                            width: 100%;
                        }
                    }
                    .username{
                        margin-top: vw(30);
                        margin-bottom: vw(30);
                        color: #272727;
                        font-size: vw(38);
                    }
                    .user-box{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        li{
                            width: 50%;
                            margin-top: vw(30);
                            color: #999;
                            font-size: vw(30);
                        }
                    }
                }
                .info{
                    padding: 0;
                    .custome-info{
                        padding: vw(60);
                    }
                    .more{
                        border-top: 1px solid #E3E3E3;
                        text-align: center;
                        height: vw(105);
                        line-height: vw(105);
                        color: #999;
                        font-size: vw(24);
                    }
                }
                .style{
                    margin-bottom: vw(40);
                    padding: vw(60) vw(60);
                }
            }
        }
    }
}
</style>
