<template>
    <div class="wrap made">
        <headNav img='b' url='1' title="个性定制"/>
        <div class="main">
            <div class="video-box">
                <div class="video">
                     <video-player  class="video-player  vjs-custom-skin"
                         ref="videoPlayer"
                         :options="playerOptions"
                         :playsinline="true"
                         :x5-playsinline="true"  
                         :webkit-playsinline="true"
                         >
                   </video-player>
                </div>
            </div>
            <div class="desc">国坛定制酒，我们将为您服务</div>
            <ul class="made-guide">
                <li>
                    <img src="../assets/deposit@2x.png" alt="">
                    <span>支付定金</span>
                </li>
                <li class="icon">
                    <img src="../assets/arrow@2x.png" alt="">
                </li>
                <li>
                    <img src="../assets/programme@2x.png" alt="">
                    <span>定制方案</span>
                </li>
                <li class="icon">
                    <img src="../assets/arrow@2x.png" alt="">
                </li>
                <li>
                    <img src="../assets/delivery@2x.png" alt="">
                    <span>付款制作</span>
                </li>
                <li class="icon">
                    <img src="../assets/arrow@2x.png" alt="">
                </li>
                <li>
                    <img src="../assets/praise@2x.png" alt="">
                    <span>收货评价</span>
                </li>
            </ul>
            <!-- 定制分类 -->
            <div class="made-part">
                <p class="name">定制分类</p>
                <div class="slide-box" >
                     <swiper class="slide" :options="slideOption">
                        <swiper-slide class="slide-item" v-for="item in categories" :key="item.category_id">
                            <div class="img-box">
                                <img :src="imgUrl+item.image" alt="">
                            </div>
                            <p class="slide-name">{{item.name}}</p>
                            <div class="slide-sub" v-html="item.description"></div>
                        </swiper-slide>
                    </swiper>
                </div>
            </div>
            <!-- 定制特色 -->
             <div class="made-part">
                <p class="name">定制特色</p>
                <ul class="feature">
                    <li>
                        <div class="feature-name">投资增值</div>
                        <p class="feature-desc">国坛定制酒拥有极高的收藏价值，是目前国内最高级的投资收藏产品之一，代表中国白酒行业的新标准，年增值10%，是一款财富美酒于一身的收藏产品。</p>
                    </li>
                    <li>
                        <p class="feature-name">馈赠亲友</p>
                        <p class="feature-desc">国坛定制酒拥有高颜值，高品质，高口感，是馈赠亲朋好友的最佳礼物之一，代表高端口感的极致体验，一定会为您成功的道路上增添光彩。</p>
                    </li>
                </ul>
            </div>
             <!-- 案例精选 -->
             <div class="made-part" v-if="customizationClassics">
                <p class="name">案例精选</p>
                <div class="case-box">
                    <p class="empty" v-if="customizationClassics.length==0">暂无案列</p>
                    <swiper ref="mySwiper" class="case-ul" :options="caseOption">
                        <swiper-slide  class="case-ul-item" v-for="item in customizationClassics" :key="item.classic_id">
                            <a :href="'http://guotan_made/toCaseDetail?classic_id='+item.classic_id" target="_self">
                                <img class="right-icon" src="../assets/case@2x.png" alt="">
                            <div class="user-info">
                               <div class="img-box">
                                   <img :src="imgUrl+item.avatar" alt="">
                               </div>
                               <div class="right-box">
                                   <p class="user-name">{{item.customer_name}}</p>
                                   <p class="lever-star">
                                       <span class="lever">{{item.group_name}}</span>
                                        <van-rate 
                                        readonly 
                                        v-model="item.rating" 
                                        void-icon="like"
                                        color="#F5A623" 
                                        void-color="#ddd"/>
                                   </p>
                               </div>

                           </div>
                           <div class="imgs-list">
                               <div class="img-box" v-for="obj in item.classicImages" :key="obj.classicImageId">
                                   <img :src="imgUrl+obj.image" alt="">
                               </div>
                           </div>
                           <p class="case-word">{{item.text}}</p>
                            </a>
                        </swiper-slide>
                    </swiper>
                </div>
            </div>
        </div>
        <div class="foot">
            <div @click="contactShop" class="btn contact">联系客服</div>
            <div @click="tomade"  class="btn tomade">我要定制</div>
        </div>
    </div>
</template>

<script>

import { Dialog } from 'vant'
import 'video.js/dist/video-js.css'

import headNav from '@/components/headNav'
export default {
name:'made',
components:{
  headNav,
},
data(){
    let vm=this
    return {
        token:null,
        imgUrl:null,
        star:5,
        video:null,
        categories:null,
        customizationClassics:null,
        officalTelephone:null,
        playerOptions: {
            autoplay: false, //如果true,浏览器准备好时开始回放。
            muted: false, // 默认情况下将会消除任何音频。
            loop: true, // 导致视频一结束就重新开始。
            preload: 'auto', // 建议浏览器在<video>加载元素后是否应该开始下载视频数据。auto浏览器选择最佳行为,立即开始加载视频（如果浏览器支持）
            language: 'zh-CN',
            aspectRatio: '16:7', // 将播放器置于流畅模式，并在计算播放器的动态大小时使用该值。值应该代表一个比例 - 用冒号分隔的两个数字（例如"16:9"或"4:3"）
            fluid: true, // 当true时，Video.js player将拥有流体大小。换句话说，它将按比例缩放以适应其容器。
            poster: null, //你的封面地址
            width: document.documentElement.clientWidth,
            height: '360',
            notSupportedMessage: '此视频暂无法播放，请稍后再试', //允许覆盖Video.js无法播放媒体源时显示的默认信息。
            playbackRates: [0.7, 1.0, 1.5, 2.0],
            sources: [],
        },
        slideOption:{//定制分类配置
            autoplay: 3000,
            speed: 1000,
            slidesPerView: 'auto',
        },
        caseOption:{//案列配置
            autoplay: 3000,
            speed: 1000,
            slidesPerView: 'auto',
        },
        
    }
},
computed: {
    player() {
        return this.$refs.videoPlayer.player
    }
},
methods:{
    tomade(){
        window.open('http://guotan_made/tomade','_self')
    },
    contactShop(){
        Dialog.confirm({
        title: '拨打客服',
        message: `确定拨打客服电话${this.officalTelephone}？`
        }).then(() => {
        // on confirm
        //<a :href="'tel:' + officalTelephone"  class="btn contact">联系客服</a>
        window.open(`tel:${this.officalTelephone}`,'_self')
        }).catch(() => {
        // on cancel
        });
        
    },
    playerStateChanged(playerCurrentState) {
        //console.log('example 2: state changed', playerCurrentState)
    },
    playerIsReady(player) {
        //console.log('example 2 ready!', player)
        player.hotkeys({
          volumeStep: 0.1,
          seekStep: 5,
          enableModifiersForNumbers: false,
          fullscreenKey: function(event, player) {
            // override fullscreen to trigger when pressing the F key or Ctrl+Enter
            return ((event.which === 70) || (event.ctrlKey && event.which === 13));
          }
        })
    },
    handleName(list){
        return list.map(item=>{
            let name=item.customer_name
            item.customer_name=name.slice(0,1)+'✲✲✲'
            return item
        })
    }
   
},
mounted(){

},
created(){
    this.token=this.$url.token
    this.imgUrl=decodeURIComponent(this.$url.imgUrl)
    if(!this.token){
      this.Toast('token错误')
      return false
    }
    if(!this.imgUrl){
        this.Toast('图片路径错误')
        return false
    }
   let obj={method:'post',url:'/api/customization/customizationPageInfo',data:{token:this.token}}
   this.$http(obj).then(res=>{
       if(res.status==1){
           this.video=res.data.banners[0]
           this.playerOptions.poster=this.imgUrl+this.video.image
           let src={
                type: "video/mp4",
                src: this.video.link,
            }
           this.playerOptions.sources.push(src)
           this.categories=res.data.categories
           this.customizationClassics=this.handleName(res.data.customizationClassics)
           this.officalTelephone=res.data.officalTelephone
       }
   })
},
}
</script>

<style lang='scss'>
@function vw($px) {
    @return ($px / 750) * 100vw;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before{
                        top: vw(-20) !important;
}
.made{
    .headnav{
        box-shadow:0 5px 10px -5px #e5e5e5;
    }
    .main{
        .video-box{
            background: url('../assets/decorates@2x.png') no-repeat center;
            background-size: contain;
            padding: vw(30) vw(40);
            .video{
                overflow: hidden;
                // height: vw(330);
                border-radius: vw(30);
                box-shadow: 0 vw(4) vw(12) #d5d5d5;
                .vjs_video_393-dimensions{
                      width: 100%;
                }
                .video-js{
                    width: 100%;
                    height: vw(395);
                    .vjs-big-play-button{
                        background: rgba(255, 255, 255, 0.2);
                        width: vw(100);
                        height: vw(100) !important;
                        line-height: vw(0);
                        border-radius: 50%;
                        border: none;
                        top: 50%;
                        margin-top: vw(-50);
                        margin-left: vw(-50);
                        left: 50%;
                    }
                    
                    .vjs-control-bar{
                        bottom: vw(10);
                    }
                }
                img{
                    width: 100%;
                }
            }
        }
        .desc{
            font-weight: bold;
            padding: vw(30);
            font-size: vw(40);
            color: #272727;
            text-align: center;
        }
        .made-guide{
            border-bottom: 1px solid #eee;
            padding: vw(30) vw(40);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: vw(70);
            li{
                display: flex;
                align-items: center;
                flex-direction: column;
                img{
                    width: vw(70);
                }
                span{
                    margin-top: vw(30);
                    font-size: vw(28);
                    color: #999;
                }
            }
            .icon{
                img{
                    position: relative;
                    top:vw(-22);
                }
            }
        }
        .made-part{
            padding: vw(40) 0;
            border-bottom: 1px solid #eee;
            .name{
                padding-left: vw(40);
                font-weight: bold;
               font-size: vw(40);
               color: #272727;
               margin-bottom: vw(40);
            }
            .slide-box{
                width: 100%;
                padding: 0 vw(40);
                &::-webkit-scrollbar { //去除滚动条，设置滚动条的背景颜色为透明 
                        background-color: transparent;
                         display:none;
                     }
                .slide{
                    &-item{
                        width: vw(300);
                        margin-right: vw(25);
                        padding-bottom: vw(30);
                        box-shadow: 0 vw(1) vw(12) 0 #EBEBEB;
                        .img-box{
                            width: 100%;
                            height: vw(300);
                            overflow: hidden;
                            border-top-left-radius: vw(20);
                            border-top-right-radius: vw(20);
                            img{
                                width: 100%;
                            }
                        }
                        .slide-name{
                            text-align: center;
                            font-weight: bold;
                            margin-top: vw(30);
                            color: #272727;
                            font-size: vw(34);
                        }
                        .slide-sub{
                            text-align: center;
                            margin-top: vw(30);
                            color: #A0A0A0 ;
                            font-size: vw(26);
                        }
                    }
                }
            }
            .feature{
                padding: 0 vw(40);
                li{
                    margin-bottom: vw(35);
                    border-radius: vw(20);
                    padding: vw(30);
                    background-color: rgba(255, 255, 255, 1);
                    box-shadow: 0px 1px 12px 0px rgba(235, 235, 235, 1);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .feature-name{
                        color: #272727;
                        font-size: vw(30);
                        width:25%;
                        font-weight: bolder;
                    }
                    .feature-desc{
                        line-height: vw(38);
                        text-align: left;
                        flex: 1;
                        color: #777;
                        font-size: vw(24);
                    }
                }
            }
            .case-box{
                width: 100%;
                overflow-y: hidden;
                padding: vw(30) vw(30);
                 &::-webkit-scrollbar { //去除滚动条，设置滚动条的背景颜色为透明 
                        background-color: transparent;
                         display:none;
                     }
                .empty{
                    text-align: center;
                    padding: 20px;
                    font-size: 14px;
                    color: #777;
                }
                .case-ul{
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    overflow: initial;
                    &-item{
                        position: relative;
                        background: url('../assets/decorate@2x.png') no-repeat vw(566) vw(548);
                        width: vw(670);
                        margin-right: vw(20);
                        height: vw(618);
                        border-radius: vw(30);
                        padding: vw(60) vw(35);
                        box-shadow: 0px 1px 12px 0px rgba(235, 235, 235, 1);
                        .right-icon{
                            width: vw(150);
                            position: absolute;
                            top:vw(-38);
                            right: vw(-32);
                        }
                        .user-info{
                            height: vw(88);
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .img-box{
                                margin-right: vw(21);
                                width: vw(88);
                                height: vw(88);
                                overflow: hidden;
                                border-radius: vw(88);
                                img{
                                    width: 100%;
                                }
                            }
                            .right-box{
                                flex: 1;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                .user-name{
                                    color: #000;
                                    font-size: vw(30);
                                }
                                .lever-star{
                                    margin-top: vw(15);
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    .lever{
                                        color: #989898;
                                        font-size: vw(26);
                                    }
                                    .van-rate{
                                        i{
                                            font-size: vw(30) !important;
                                        }
                                    }
                                }
                            }
                        }
                        .imgs-list{
                            margin: vw(40) 0;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .img-box{
                                width: vw(188);
                                height: vw(188);
                                overflow: hidden;
                                border-radius: vw(10);
                                img{
                                    width: 100%;
                                }
                            }
                        }
                        .case-word{
                            font-size: vw(26);
                            color: #A0A0A0;
                            line-height: vw(40);
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 3;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
    .foot{
        box-shadow:0px -5px 10px -5px #e5e5e5;
        height: vw(135);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 vw(43);
        .btn{
            width: vw(315);
            height: vw(88);
            text-align: center;
            line-height: vw(88);
            font-size: vw(30);
            border: 1px solid #F72736;
            border-radius: vw(90);
        }
        .contact{
            color: #F72736;
        }
        .tomade{
            color: #fff;
            background: #F72736;
        }
    }

}
</style>
