<template>
    <div class="wrap mall">
        <headNav url='1' img='b' title='积分商城'/>
        <div class="main">
            <div class="adv-box">
                <img src="../assets/discount/jf.png" alt="">
                <div @click="introduce" class="btn">积分介绍</div>
            </div>
             <van-tabs @click="handleMeau"  animated>
                <van-tab class="mall-left" title="积分商城">
                     <div class="note">
                         <img src="../assets/discount/smile@2x.png" alt="">
                         <span>亲爱的客官，您当前的积分有{{totalPoint}}分！</span>
                     </div>
                     <ul class="mall-left-ul">
                        <p class="name">优惠卷兑换</p>
                        <p class="empty" v-show="discountList&&discountList.length==0">暂无优惠券数据</p>
                        <li v-for="item in discountList" :key="item.couponId">
                            <div class="left">
                                <p class="num">
                                    <span class="icon">￥</span><span>{{item.discount}}</span>
                                </p>
                                <p class="desc">满{{item.points}}分兑换</p>
                            </div>
                            <div class="center">
                                <p class="lever">{{item.customerGroupId==1&&'普通会员'||item.customerGroupId==2&&'牡丹会员'||item.customerGroupId==3&&'甲骨文会员'||item.customerGroupId==4&&'金龙会员'}}以上</p>
                                <p class="during">使用期限：{{item.dateStart}}至{{item.dateEnd}}</p>
                            </div>
                            <div @click="redemptionCoupon(item.couponId)" class="right">
                                立即兑换
                            </div>
                        </li>
                     </ul>

                      <ul class="mall-left-ul goods">
                        <p class="name">商品兑换</p>
                        <p class="empty" v-show="goodsList&&goodsList.length==0">暂无商品数据</p>
                        <li @click="redemptionGood(item.product_id)" v-for="item in goodsList" :key="item.product_id">
                            <div class="left">
                                <p class="title">{{item.name}}</p>
                                <p class="line">
                                    <span class="dot"></span>
                                    <span class="l"></span>
                                    <span class="dot"></span>
                                </p>
                                <p class="num">{{item.points}}分</p>
                                <p class="line">
                                    <span class="dot"></span>
                                    <span class="l"></span>
                                    <span class="dot"></span>
                                </p>
                                <p class="lever">{{item.customerGroupName}}</p>
                                <button class="btn">立即兑换</button>

                            </div>
                            <div class="img-box">
                                <img :src="imgUrl+item.image" alt="">
                            </div>
                        </li>
                     </ul>
                </van-tab>
                <van-tab class="mall-left" title="我的兑换">
                     <div class="note">
                         <img src="../assets/discount/smile@2x.png" alt="">
                         <span>亲爱的客官，您当前的积分有{{totalPoint}}分！</span>
                     </div>
                     <ul class="mall-left-ul">
                        <p class="name">我的优惠卷</p>
                        <p class="empty" v-show="historyCoupons&&historyCoupons.length==0">暂无优惠券数据</p>
                        <li v-for="item in historyCoupons" :key="item.couponId">
                            <div class="left">
                                <p class="num">
                                    <span class="icon">￥</span><span>{{item.discount}}</span>
                                </p>
                                <p class="desc">满{{item.points}}分兑换</p>
                            </div>
                            <div class="center quan">
                                <p class="lever">{{item.customer_group_id==1&&'普通会员'||item.customer_group_id==2&&'牡丹会员'||item.customer_group_id==3&&'甲骨文会员'||item.customer_group_id==4&&'金龙会员'}}以上</p>
                                <p class="during">使用期限：{{item.date_start}} 至 {{item.date_end}}</p>
                            </div>
                            <div class="have">
                                
                            </div>
                        </li>
                     </ul>

                      <ul class="mall-left-ul mygoods">
                        <p class="name">我的商品</p>
                        <p class="empty" v-show="mygoods&&mygoods.length==0">暂无商品数据</p>
                        <div  v-for="item in mygoods" :key="item.order_sn">
                            <li v-for="obj in item.products" :key="obj.product_id">
                                <div class="img-box">
                                    <img :src="imgUrl+obj.image" alt="">
                                </div>
                                <div class="good">
                                    <p class="good-title">{{obj.name}}</p>
                                    <p class="good-info">
                                        <span class="price">{{obj.price}}分</span>
                                        <span class="count">x{{obj.quantity}}</span>
                                    </p>
                                </div>
                            </li>
                        </div>
                     </ul>
                </van-tab>
            </van-tabs>
        </div>
    </div>
</template>

<script>
import headNav from '@/components/headNav'
import { Dialog } from 'vant'
export default {
name:'mall',
components:{
 headNav
},
data(){
    return {
        token:null,
        imgUrl:null,
        currentIndex:0,
        totalPoint:null,
        historyCoupons:null,//我的优惠券
        orders:null,//积分商品订单
        discountList:null,//优惠券
        goodsList:null,//积分商品
        mygoods:null
    }
},
methods:{
    handleMeau(index){
        
    },
    getData(){
        let obj={method:'posts',url:'/api/catalog/exchange/list',data:{token:this.token}}
        let params={method:'posts',url:'/api/customer/getCoupons',data:{token:this.token,group:2}}
        this.$http(obj).then(res=>{
            if(res.status==1){
                this.goodsList=res.data.exchangeable
            }
        })
        this.$http(params).then(res=>{
            if(res.status==1){
                this.discountList=res.data
            }
        })
        let params2={method:'posts',url:'/api/customer/myExchange',data:{token:this.token}}
        this.$http(params2).then(res=>{
            if(res.status==1){
                let list=res.data.orders
                this.mygoods=list
                this.historyCoupons=res.data.historyCoupons
                this.totalPoint=res.data.points
            }
        })
    },
    introduce(){//积分介绍
       Dialog.alert({
        title: '温馨提示',
        message: `积分获得方式
（1）购物积分：在健康集市消费的客户即可获得积分。每实际支付1元产品积1分。
（2）积分活动：国坛万象会不定期地推出各种积分活动，请随时关注国坛万象。 `,
        cancelButtonText:'知道了',
        messageAlign:'left',
        cancelButtonColor:'#666666',
        showConfirmButton:false,
        showCancelButton:true
        }).then(() => {
        // on confirm
        }).catch(() => {
        // on cancel
        });
    },
    redemptionCoupon(coupon_id){//兑换优惠券
       Dialog.confirm({
        title: '优惠卷兑换',
        message: '确认要兑换优惠卷吗？'
        }).then(() => {
        // on confirm
        let obj={method:'posts',url:'/api/customer/claimCoupon',data:{token:this.token,coupon_id}}
        this.$http(obj).then(res=>{
            if(res.status==1){
                this.getData()
                this.Toast.success('领取成功');
            }
        })
        }).catch(() => {
        // on cancel
        });
    },
    redemptionGood(id){
        Dialog.confirm({
        title: '商品兑换',
        message: '确认要兑换商品吗？'
        }).then(() => {
        // on confirm
        window.open(`http://guotan_mall/duihuan?product_id=${id}`,'_self')
        }).catch(() => {
        // on cancel
        });
    }
},
created(){
    this.token=this.$url.token
    this.imgUrl=decodeURIComponent(this.$url.imgUrl)
    if(!this.token){
      this.Toast('token错误')
      return false
    }
    if(!this.imgUrl){
        this.Toast('图片路径错误')
        return false
    }
    this.getData()
    
}
}
</script>

<style lang='scss'>
@function vw($px) {
    @return ($px / 750) * 100vw;
}
.van-dialog__footer{
    border-top: 1px solid rgba(0, 0, 0, 0.2) ;
    .van-dialog__cancel{
        color: #666;
        border-right: 1px solid rgba(0, 0, 0, 0.2) ;
    }
    .van-dialog__confirm{
        color: #F72736;
    }
}
.mall{
   .main{
       .empty{
           text-align: center;
           padding: 10px;
           color: #666;
           font-size: vw(28);
       }
       .adv-box{
           width: 100%;
           height: vw(312);
           overflow: hidden;
           position: relative;
           img{
               width: 100%;
           }
           .btn{
               border-radius: vw(40);
               font-size: vw(22);
               position: absolute;
               bottom: vw(19);
               right: vw(30);
               width: vw(160);
               height: vw(50);
               border: vw(2) solid #fff;
               display: flex;
               color: #fff;
               align-items: center;
               justify-content: center;
               background: rgba(0, 0, 0, 0.2);         
            }
       }
       .van-tab{
            color: #272727;
        }
        .van-tab--active{
            color: #F72736;
        }
        .mall-left{
            .note{
                padding: vw(40);
                display: flex;
                border: vw(2) solid #eee;
                align-items: center;
                background: #F7F7F7;
                height: vw(50);
                color: #ACACAC ;
                font-size: vw(22);
                img{
                    width: vw(40);
                    margin-right: vw(9);
                }
            }
            &-ul{
                padding: vw(40);
                .name{
                        color: #272727;
                        font-size: vw(34);
                        font-weight: bold;
                    }
                li{
                    margin-top: vw(30);
                    height: vw(180);
                    display: flex;
                    align-content: center;
                    justify-content: space-between;
                    background: url('../assets/discount/coupon@2x.png') no-repeat center center;
                    background-size: contain;
                    
                    div{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                    .left{
                        width:vw(250);
                        .num{
                            color: #fff;
                            font-size: vw(72);
                            .icon{
                                font-size: vw(30);
                            }
                        }
                        .desc{
                            margin-top: vw(10);
                            color: #fff;
                            font-size: vw(22);
                        }
                    }
                    .center{
                        padding: vw(10);
                        .lever{
                            font-weight: bold;
                            color: #353535 ;
                            font-size: vw(34);
                        }
                        .during{
                            line-height: 15px;
                            color: #888;
                            font-size: vw(26);
                            margin-top: vw(20);
                            text-align: center;
                        }
                    }
                    .right{
                        color: #F72736;
                        font-size: vw(20);
                        width: vw(90);
                        padding: vw(33) vw(30);
                        margin: vw(33) 0;
                        background: url('../assets/discount/dotte.png') no-repeat left center;
                        background-size: contain;
                    }
                    .quan{
                        background: url('../assets/discount/have@2x.png') no-repeat right center;
                        background-size: vw(100);
                    }
                }
            }
            .goods{
                border-top: vw(2) solid #eee;
                li{
                    box-shadow: 0 0 vw(20) #eee;
                    height: vw(270);
                    background: url('../assets/discount/commodity_bg@2x.png') no-repeat left center;
                    background-size: contain; 
                    .left{
                        width: 50%;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        .title{
                            text-align: center;
                            width: 90%;
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                            font-size: vw(30);
                            color: #fff;
                        }
                        .line{
                            margin:vw(10) 0;
                            display: flex;
                            align-items: center;
                            span{
                                display: inline-block;
                            }
                            .dot{
                                width: vw(10);
                                height: vw(10);
                                border-radius: 50%;
                                background: #fff;
                            }
                            .l{
                                width: vw(173);
                                height: vw(2);
                                background: #fff;
                            }
                        }
                        .num{
                            font-size: vw(38);
                        }
                        .lever{
                            color: #CDD6F7;
                            font-size: vw(18);
                        }
                        .btn{
                            color: #5E7EF1;
                            font-size: vw(32);
                            margin-top: vw(10);
                            border: none;
                            width: vw(217);
                            height: vw(60);
                            border-radius: vw(40);
                            background-color: rgba(247, 249, 255, 1);
                            box-shadow: 0px vw(2) vw(4) 0px rgba(69, 94, 199, 1);
                        }
                    }
                    .img-box{
                        width: vw(250);
                        height: vw(270);
                        border-radius: vw(20);
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
            .mygoods{
                li{
                    background: none;
                    height: vw(233);
                    border-bottom: vw(2) solid #eee;
                    padding: vw(40) 0;
                    margin-top: 0;
                    .img-box{
                        width: vw(150);
                        height: vw(150);
                        border-radius: vw(20);
                        border: vw(2) solid #eee;
                        overflow: hidden;
                    }
                    .good{
                        padding: 0 vw(30);
                        flex: 1;
                        &-title{
                            width:100%;
                            padding-right: vw(80);
                            text-align: left;
                            color: #272727;
                            font-size: vw(26);
                            font-weight: bold;
                            line-height: vw(30);
                        }
                        &-info{
                            margin-top: vw(10);
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .price{
                                color: #FF0C4B ;
                                font-size: vw(34);

                            }
                            .count{
                                color: #ABABAB ;
                                font-size: vw(30);
                            }
                        }
                    }
                }
            }
        }
    }
}
</style>
