<template>
    <div class="wrap member">
        <headNav url='1' img='b' title='会员中心'/>
        <div class="main" v-if="data">
            <div class="member-info">
                <div class="left">
                    <div class="left-info">
                        <span class="name">{{data.customerName}}</span>
                        <button class="lever">{{data.customerGroup.name}}</button>
                    </div>
                    <p class="desc">还差{{data.nextGroupNeed}}元升级为{{data.nextGroupName}}</p>
                </div>
                <div class="img-box">
                    <img :src="imgUrl+data.imgUrl" alt="">
                </div>
            </div>
            
            <van-swipe :show-indicators='true' class="member-card" :autoplay="3000" indicator-color="#BD9D5D">
                    <van-swipe-item  v-for="item in data.customerCenterImages" :key="item.image">
                        <router-link :to="item.link" tag="div" class="img-box">
                            <img :src="imgUrl+item.image" alt="">
                        </router-link>
                    </van-swipe-item>
            </van-swipe>
        

             <!-- 定制分类 -->
            <div class="made-part">
                <div class="made-part-title">
                    <span class="name">积分兑换</span>
                    <router-link to="/mall" tag="button" class="btn">兑换商城</router-link>
                </div>
                <div class="slide-box" >
                    <swiper ref="mySlise" class="slide" :options="slideOption">
                        <swiper-slide  class="slide-item" v-for="item in data.all" :key="item.product_id">
                            <a :href="'http://guotan_member/toProDetail?product_id='+item.product_id" target="_self">
                                <div class="img-box">
                                <img :src="imgUrl+item.image" alt="">
                            </div>
                            <button class="slide-btn">{{item.points}}分</button>
                            <p class="slide-lever">{{item.customerGroupName}}及以上会员</p>
                            </a>
                        </swiper-slide>
                    </swiper>
                    
                </div>
            </div>

            <!-- 轮播 -->
             <div class="made-part">
                <div class="made-part-title">
                    <span class="name">会员服务</span>
                </div>
                <swiper ref="mySwiper"  id="rySwiper" :options="swiperOption">
                    <swiper-slide  v-for="item in data.customerGroups" :key="item.customer_group_id">
                        <img :src="imgUrl+item.image" alt="">
                    </swiper-slide>
                </swiper>
                <div class="word-box">{{currentWord}}</div>
            </div>
        </div>
       
    </div>
</template>

<script>
import headNav from '@/components/headNav'
export default {
name:'member',
components:{
 headNav
},
data(){
    const that=this
    return {
        token:null,
        imgUrl:null,
      currentWord:'',
      data:null,
      slideOption:{//swiper3
        slidesPerView: 'auto',
        grabCursor: true,
        setWrapperSize: true,
        autoHeight: true,
        freeMode: true,
        observer: true,
       },
      swiperOption: {//swiper3
        slidesPerView: 'auto',
        spaceBetween: 0,
        centeredSlides: true,
        on:{
            // 使用es6的箭头函数，使this指向vue对象
            slideChangeTransitionEnd: function() {
               that.data.customerGroups.map((item,index)=>{
                   if(index==this.realIndex){
                       that.currentWord=item.description
                   }
                   return item
               }) 
            },
        }
      }
    }
},
methods:{
    handleMeau(index){

    }
},
mounted(){
},
created(){
    this.token=this.$url.token
    this.imgUrl=decodeURIComponent(this.$url.imgUrl)
    if(!this.token){
      this.Toast('token错误')
      return false
    }
    if(!this.imgUrl){
        this.Toast('图片路径错误')
        return false
    }
    let obj={method:'posts',url:'/api/customer/customerCenter',data:{token:this.token}}
    this.$http(obj).then(res=>{
        if(res.status==1){
            this.data=res.data
            this.currentWord=res.data.customerGroups[0].description
        }
    })
    
}
}
</script>

<style lang='scss'>
@function vw($px) {
    @return ($px / 750) * 100vw;
}
.member{
    .headnav{
        box-shadow:0 5px 20px -5px #ddd; 
    }
   .main{
       padding: vw(50) 0;
       .member-info{
           display: flex;
           align-items: center;
           justify-content: space-between;
           padding:0 vw(40);
           .left{
               &-info{
                   display: flex;
                   align-items: center;
                   .name{
                       font-size: vw(50);
                       color: #000;
                   }
                   .lever{
                       margin-left: vw(10);
                       border-radius: vw(60);
                       padding: 0 2vw;
                       height: vw(60);
                       border: none;
                       color: #fff;
                       font-size: vw(20);
                        /*! autoprefixer: off */
                        background: -webkit-linear-gradient(left,#E6CFA3,#C8A96A );
                        /* autoprefixer: on */
                        background: -moz-linear-gradient(left,#E6CFA3,#C8A96A );
                        background: -o-linear-gradient(left,#E6CFA3,#C8A96A );
                        background:linear-gradient(left, #E6CFA3 0%, #C8A96A  100%);
                   }
               }
               .desc{
                   margin-top: vw(10);
                   color: rgb(153,153,153);
                   font-size: vw(28);
               }
           }
           .img-box{
               width: vw(120);
               height: vw(120);
               border-radius: 50%;
               overflow: hidden;
               display: flex;
               justify-content: center;
               align-items: center;
               background: #eee;
               img{
                   width: 100%;
               }
           }
       }
       .member-card{
           background: url('../assets/decorates@2x.png') no-repeat center center;
           background-size: contain;
           margin:vw(50) 0;
           display: flex;
           justify-content: center;
          .img-box{
                height: vw(430);
                overflow: hidden;
                border-radius: vw(20);
          }
       }
       .made-part{
            padding: vw(40) 0;
            border-bottom: 1px solid #eee;
            &-title{
                margin-bottom: vw(30);
                padding: 0 vw(40);
                display: flex;
                justify-content: space-between;
                align-items: center;
                .name{
                    font-weight: bold;
                    font-size: vw(40);
                    color: #272727;
                }
                .btn{
                    width: vw(170);
                    height: vw(60);
                    border-radius: vw(60);
                    border: vw(4) solid #F0F1F2;
                    background: #fff;
                    color: #272727;
                    font-size: vw(24);
                }
            }
            .slide-box{
                width: 100%;
                overflow-y: hidden;
                padding: 0 vw(40);
                &::-webkit-scrollbar { //去除滚动条，设置滚动条的背景颜色为透明 
                        background-color: transparent;
                         display:none;
                     }
                .slide{
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    padding: vw(20);
                    &-item{
                        width: vw(240) !important;
                        height: vw(390);
                        margin-right: vw(30);
                        padding-bottom: vw(30);
                        box-shadow: 0 vw(1) vw(12) 0 #EBEBEB;
                        a{
                            display: flex;
                           flex-direction: column;
                           align-items: center;
                        }
                        .img-box{
                            width: 100%;
                            height: vw(240);
                            overflow: hidden;
                            border-top-left-radius: vw(20);
                            border-top-right-radius: vw(20);
                            img{
                                width: 100%;
                            }
                        }
                        .slide-btn{
                            margin-top: vw(10);
                            border-radius: vw(60);
                            width: vw(130);
                            height: vw(60);
                            border: none;
                            color: #fff;
                            font-size: vw(20);
                            /*! autoprefixer: off */
                            background: -webkit-linear-gradient(left,#E6CFA3,#C8A96A );
                            /* autoprefixer: on */
                            background: -moz-linear-gradient(left,#E6CFA3,#C8A96A );
                            background: -o-linear-gradient(left,#E6CFA3,#C8A96A );
                            background:linear-gradient(left, #E6CFA3 0%, #C8A96A  100%);
                        }
                        .slide-lever{
                            text-align: center;
                            margin-top: vw(10);
                            color: #999 ;
                            font-size: vw(20);
                        }
                    }
                }
            }
            #rySwiper{
                .swiper-wrapper{
                    .swiper-slide{
                        width: vw(530) !important;
                        height: vw(350);
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transform: scale(0.9);
                        -webkit-transform: scale(0.9);
                        -moz-transform: scale(0.9);
                        -webkit-transition: transform 1.0s;
                        -moz-transition: transform 1.0s;
                        img{
                            width: 100%;
                        }
                       
                    }
                    .swiper-slide {
                        width: 80%;
                    }
                    .swiper-slide:nth-child(2n) {
                        width: 60%;
                    }
                    .swiper-slide:nth-child(3n) {
                        width: 40%;
                    }
                    
                    .swiper-slide-prev {
                        transform: scale(0.9);
                    }
                    .swiper-slide-next {
                        transform: scale(0.9);
                    }
                    .swiper-slide-active{
                        transform: scale(1);
                        
                    }
                }
            }
            .word-box{
                padding: vw(60) vw(70);
                color: #BBA56A ;
                font-size: vw(26);
                line-height: vw(40);
            }
            
        }
   }
}
</style>
