<template>
    <div class="wrap docx">
        <headNav url='0' img='b' title='查看检测报告'/>
        <iframe :src="'http://view.officeapps.live.com/op/view.aspx?src='+src" height="100%" width="100%"></iframe>
    </div>
</template>

<script>
import headNav from '@/components/headNav'
export default {
name:'',
components:{headNav},
data(){
    return{
        src:null
    }
},
mounted(){
    this.src=this.$route.query.src
}
}
</script>

<style>

</style>
