<template>
    <div class="wrap preSheet">
        <div class="preSheet-top">
            <headNav img='b' url='1' />
            <div class="title">健康方案</div>
            <p class="empty" v-if="pages.length==0">暂无数据</p>
            <van-tabs v-if="pages.length>0" @click="handleMeau" v-model="currentMeau" swipeable>
                <van-tab v-for="(item,index) in pages" :key="index" :title="item.navName"></van-tab>
            </van-tabs>
        </div>
        <div v-if="showPdf" class="show-pdf">
            <div @click="closePDF" class="close">
                <van-icon  name="close" />
            </div>
            <iframe v-if="currentPage.ispdf==1"  id='previewPdf' :src="'/static/pdf/web/viewer.html?file='+pdfUrl" height="100%" width="100%">
            </iframe>
        </div>
        <div v-if="pages.length>0" class="main">
            <div class="order-id">
                <span class="id">处方单号：{{currentPage.prescriptionSn}}</span>
                <span class="time">{{currentPage.dateAdded}}</span>
            </div>
            <ul class="order-ul">
                <li class="order-ul-li">
                    <div class="name">
                        <img src="../assets/r7.png" alt="">
                        <span>检测报告</span>
                    </div>
                    <div class="card info">
                        <div class="custome-info">
                            <p class="text">本报告是对体质状况的评估及保健养生的一般性建议，不能作为临床医疗诊断依据。</p>
                        </div>
                        <div  class="more">
                            <a class="see-file" v-show="currentPage.ispdf==0" @click="openDocx(currentPage)" target='_black' >查看检测报告</a>
                            <van-button  v-show="currentPage.ispdf!=0"  @click="checkNormal(currentPage)" round type="default">查看检测报告</van-button>
                        </div>
                    </div>
                </li>
                <li class="order-ul-li">
                    <div class="name">
                        <img src="../assets/r7.png" alt="">
                        <span>诊断结果</span>
                    </div>
                    <div class="card">
                        <p class="text">{{currentPage.result}}</p>
                    </div>
                </li>
                 <li class="order-ul-li">
                    <div class="name">
                        <img src="../assets/r7.png" alt="">
                        <span>健康方案</span>
                    </div>
                    <div class="card plan">
                        <!-- 选择/失效 -->
                        <div v-show="currentPage.status==0||currentPage.status==1||currentPage.status==4" class="plan-ul">
                            <p class="mark" v-show="currentPage.status==4">失效</p>
                            <li v-for="item in currentPage.list" :key="item.name">
                                <van-checkbox v-show="currentPage.status==1" name="single" @click="handleCheckSinglePro(item)" v-model="item.check" checked-color="#F72736"></van-checkbox>
                                <div class="img-box" @click="imgShow(item.image)">
                                    <img :src="imgUrl+item.image" alt="">
                                </div>
                                <div class="info">
                                    <p class="pro-name">{{item.name||item.course_name}}</p>
                                    <p class="desc">
                                        <span class="count">数量：{{item.quantity}}</span>
                                        <span v-show="item.specName" class="size">规格：{{item.specName}}</span>
                                        <span v-show="item.tag" class="time">时间：{{item.tag}}</span>
                                    </p>
                                    <p class="price"><span class="icon">￥</span><span class="num">{{item.productPrice||item.price}}</span></p>
                                </div>
                            </li>
                            <div v-show="currentPage.status==1" class="opration">
                                <div class="top">
                                    <van-checkbox name="all" @click="handleCheckAll" v-model="allCheck" checked-color="#F72736">全选</van-checkbox>
                                    <div class="total-box">
                                        <span class="text">合计：</span>
                                        <span class="icon">￥</span>
                                        <span class="num">{{totalPrice.toFixed(2)}}</span>
                                    </div>
                                </div>
                                <div class="submit-box">
                                    <div @click="toApply" class="btn">去结算({{totalCount}})</div>
                                </div>
                            </div>
                        </div>
                        <!-- 未选 -->
                        <div v-show="currentPage.status==2||currentPage.status==3" class="plan-ul">
                            <p class="mark">未选</p>
                            <p v-show="unchecklist.length==0" class="mark">没有商品</p>
                            <li v-for="item in unchecklist" :key="item.name">
                                <div class="img-box">
                                    <img :src="imgUrl+item.image" alt="">
                                </div>
                                <div class="info">
                                    <p class="pro-name">{{item.name||item.course_name}}</p>
                                    <p class="desc">
                                        <span class="count">数量：{{item.quantity}}</span>
                                        <span v-show="item.specName" class="size">规格：{{item.specName}}</span>
                                        <span v-show="item.tag" class="time">时间：{{item.tag}}</span>
                                    </p>
                                    <p class="price"><span class="icon">￥</span><span class="num">{{item.productPrice||item.price}}</span></p>
                                </div>
                            </li>
                        </div>
                        
                    </div>
                    <div v-show="currentPage.status==2||currentPage.status==3"  class="card plan">
                        <!-- 已选 -->
                        <div  class="plan-ul">
                            <p class="mark">已选</p>
                            <p v-show="checklist.length==0" class="mark">没有商品</p>
                            <li v-for="item in checklist" :key="item.name">
                                <div class="img-box">
                                    <img :src="imgUrl+item.image" alt="">
                                </div>
                                <div class="info">
                                    <p class="pro-name">{{item.name||item.course_name}}</p>
                                    <p class="desc">
                                        <span class="count">数量：{{item.quantity}}</span>
                                        <span v-show="item.specName" class="size">规格：{{item.specName}}</span>
                                        <span v-show="item.tag" class="time">时间：{{item.tag}}</span>
                                    </p>
                                    <p class="price"><span class="icon">￥</span><span class="num">{{item.productPrice||item.price}}</span></p>
                                </div>
                            </li>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import { Dialog,ImagePreview  } from 'vant'
import headNav from '@/components/headNav'

export default {
name:'preSheet',
components:{
 headNav
},
data(){
    return {
        fileUrl:'http://shop.file.guotanji.com/doc',//http://shop.file.guotanji.com/doc
        httpUrl:'http://47.97.157.115:9292',
        token:null,
        imgUrl:null,
        isMore:false,
        timer:null,
        currentMeau:0,
        currentPage:{},
        allCheck:false,
        totalPrice:0,
        totalCount:0,
        unchecklist:[],
        checklist:[],
        isLose:false,
        list:[],
        pages:[],
        pdfUrl:'',
        docxUrl:'',
        ispdf:1,
        showPdf:false
    }
},
methods:{
    handleMeau(index, title){
        this.totalPrice=0
        this.totalCount=0
        this.allCheck=false
        this.pages.map((item,i)=>{
            if(i==index){
                this.currentPage=item
            }
            return item
        })
        this.filterList()
    },
    checkNormal(file) {
        if(file.ispdf == -1){
            this.Toast('文件格式错误，无法正确浏览')
            return false
        }
        this.showPdf = true

        let url=`${this.fileUrl}${file.report}` 
        this.pdfUrl = url
    },
    openDocx(file){
            //this.showPdf = true
            //this.docxUrl=`http://view.officeapps.live.com/op/view.aspx?src=${this.fileUrl}${file.report}`
            this.docxUrl=`${this.fileUrl}${file.report}`
            //let host=window.location.href.split('#')[0]
            //console.log(host +"#/openDocx?src="+this.docxUrl)
            //this.docxUrl=`${host}`
            // window.open(host +"#/openDocx?src="+this.docxUrl,"_self")
            this.$router.push({path:'/openDocx',query:{src:this.docxUrl}})
    },
    closePDF(){
      this.showPdf = false
    },
    download(file){
        let type=''
        let _this=this
        axios.get(`${this.fileUrl}${file}`, { //url: 接口地址
            responseType: `arraybuffer` //一定要写
        }).then(res => {
            if(res.status == 200){
                _this.Toast('下载成功')
                let blob = new Blob([res.data], {type: type });//word文档为msword,pdf文档为pdf;
                let objectUrl = URL.createObjectURL(blob);
                let link = document.createElement("a");
                let fname=file.split('/')[1];//下载文件的名字
                link.href = objectUrl;
                link.setAttribute("download", fname);
                document.body.appendChild(link);
                link.click();
            }else {
                _this.Toast( "下载失败")
            }
        });
    },
    total(){
        this.totalPrice=0
        this.totalCount=0
        this.currentPage.list.map(item=>{
            if(item.check){
                this.totalCount+=item.quantity
                if(item.type==0){
                   this.totalPrice+=(item.quantity*item.productPrice)
                }else{
                    this.totalPrice+=(item.quantity*item.price)
                }
            }
            return item
        })
    },
    handleCheckAll(){//全选
        let list=this.currentPage.list
        list.map(item=>{
            item.check=this.allCheck
            return item
        })
        this.total()
    },
    handleCheckSinglePro(obj){//单选
        this.total()
        this.calcAllCheck()
        this.filterList()
    },
    calcAllCheck(){
        let flag=this.currentPage.list.find(item=>item.check==false)
        if(flag==undefined){
            this.allCheck=true
        }else{
            this.allCheck=false
        }
    },
    filterList(){
        if(this.currentPage.status==2||this.currentPage.status==3){
           let list=this.currentPage.list
            if(list.length>0){
                this.unchecklist=list.filter(item=>item.selected==false)
                this.checklist=list.filter(item=>item.selected==true)
            }
        }
    },
    toApply(){//结算
        let list=this.currentPage.list
        let arr=list.filter(item=>item.check==true)
        let products=[]
        let prescriptionCourses=[]
        arr.map(item=>{
            if(item.type==0){
                let obj={product_id:item.product_id,quantity:item.quantity,option_id:item.option_id,spec_id:item.spec_id}
                products.push(obj)
            }else{
                let obj={course_id:item.course_id,quantity:item.quantity,typeId:item.typeId}
                prescriptionCourses.push(obj)
            }
            return item
        })
        products=JSON.stringify(products)
        prescriptionCourses=JSON.stringify(prescriptionCourses)
        window.open(`http://guotan_preSheet/return_apply?id=${this.currentPage.id}&products=${products}&prescriptionCourses=${prescriptionCourses}`,'_self')
    },
    handleCurrentObj(list){
        return list.map((obj,index)=>{
            obj.dateAdded=this.$moment(obj.dateAdded).format("YYYY/MM/DD HH:mm")
            let list=[]
            obj.products.map(item=>{
                Object.assign(item,{type:0,check:false})
                list.push(item)
                return item
            })
            obj.prescriptionCourses.map(item=>{
                Object.assign(item,{type:1,check:false})
                list.push(item)
                return item
            })
            let flag=obj.report.split('.')[1]
            let ispdf=0
            if(flag=='docx'||flag=='DOCX'){
                ispdf=0
            }
            else if(flag=='pdf'||flag=='PDF'){
               ispdf=1
            }
            else{
                ispdf=-1
            }
            let navName='方案'+this.toChinesNum(index+1)
            Object.assign(obj,{list,ispdf,navName})
            return obj
        })
    },
     toChinesNum(num){
        let changeNum = ['零', '一', '二', '三', '四', '五', '六', '七', '八', '九']; //changeNum[0] = "零"
        let unit = ["", "十", "百", "千", "万"];
        num = parseInt(num);
        let getWan = (temp) => {
        let strArr = temp.toString().split("").reverse();
        let newNum = "";
        for (var i = 0; i < strArr.length; i++) {
        newNum = (i == 0 && strArr[i] == 0 ? "" : (i > 0 && strArr[i] == 0 && strArr[i - 1] == 0 ? "" : changeNum[strArr[i]] + (strArr[i] == 0 ? unit[0] : unit[i]))) + newNum;
        }
        return newNum;
    }
        let overWan = Math.floor(num / 10000);
        let noWan = num % 10000;
        if (noWan.toString().length < 4) noWan = "0" + noWan;
        return overWan ? getWan(overWan) + "万" + getWan(noWan) : getWan(num);
    }
},
mounted(){
    
},
created(){
    this.token=this.$url.token
    this.imgUrl=decodeURIComponent(this.$url.imgUrl)
    if(!this.token){
      this.Toast('token错误')
      return false
    }
    if(!this.imgUrl){
        this.Toast('图片路径错误')
        return false
    }
    let obj={method:'posts',url:'/api/health/getPrescriptions',data:{token:this.token}}
    this.$http(obj).then(res=>{
        if(res.status==1){
            this.pages=res.data.prescriptionList
            if(this.pages.length>0){
                this.pages=this.handleCurrentObj(this.pages)
                this.currentPage=this.pages[0]
                this.filterList()
            }
        }
    })
    
}
}
</script>

<style lang='scss'>
@function vw($px) {
    @return ($px / 750) * 100vw;
}
.preSheet{
   
    &-top{
        background: #fff;
        width: 100%;
       
        .title{
            padding: 0 vw(40);
           font-size: vw(60);
           color: #000;
        }
    }
    .empty{
        text-align: center;
        padding: vw(100);
    }
    .show-pdf{
        z-index: 200;
        position: fixed;
        width: 100%;
        height: 88%;
        top: 12%;
        left: 0;
        background: rgb(48, 47, 47);
        .close{
            width: 100%;
            display: flex;
            justify-content: center;
           color: #fff;
           padding: 5px 20px;
           margin: 0 auto;
        }
    }
    .main{
        background: #F9F9F9;
        .order-id{
            height: vw(100);
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: vw(24);
            color: rgb(153,153,153);
            background: #fff;
            padding: 0 vw(30);
        }
        .order-ul{
            padding: vw(40);
            padding-bottom: 0;
            &-li{
                margin-bottom: vw(40);
                .name{
                    color: #4F4F6D;
                    font-size: vw(34);
                    display: flex;
                    align-items: center;
                    margin-bottom: vw(40);
                    img{
                        width: vw(26);
                        margin-right: vw(10);
                    }
                }
                .card{
                    background: #fff;
                    border-radius: vw(22);
                    padding: vw(60);
                    box-shadow: 0 0 10px #eee;
                    .text{
                        color: #272727;
                        font-size: vw(28);
                        line-height: vw(50);
                    }
                    .plan-ul{
                        
                        li{
                            display: flex;
                            height: vw(265);
                            border-bottom: 1px solid #eee;
                            align-items: center;
                            .van-checkbox{
                                padding: 0 vw(4);
                            }
                            .img-box{
                                margin: 0 vw(15);
                                width: vw(140);
                                height: vw(140);
                                border-radius: vw(10);
                                overflow: hidden;
                                background: #eee;
                                img{
                                    width: 100%;
                                }
                            }
                            .info{
                                width: vw(375);
                                .pro-name{
                                    font-weight: bold;
                                    font-size: vw(26);
                                    color: #272727;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                    overflow: hidden;
                                    line-height: vw(34);
                                }
                                .desc{
                                    font-size: vw(22);
                                    color: #999;
                                    margin:vw(15) 0;
                                    span{
                                        margin-right: vw(30);
                                    }
                                }
                                .price{
                                    font-size: vw(24);
                                    color: #F72736;
                                    .icon{
                                        font-size: vw(18);
                                    }
                                    .num{
                                        font-weight: bold;
                                        font-size: vw(34);
                                    }
                                }
                            }
                        }
                        .opration{
                            height: vw(205);
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                           .top{
                               display: flex;
                               align-items: center;
                               justify-content: space-between;
                               .total-box{
                                   .text{
                                       font-size: vw(22);
                                       color: #000;
                                   }
                                   .icon{
                                        font-size: vw(22);
                                       color: #F72736;
                                   }
                                   .num{
                                        color: #F72736;
                                       font-size: vw(34)
                                   }
                               }
                           }
                           .submit-box{
                               display: flex;
                               justify-content: flex-end;
                               .btn{
                                    /*! autoprefixer: off */
                                    background: -webkit-linear-gradient(left,#EE6369,#F72736);
                                    /* autoprefixer: on */
                                    background: -moz-linear-gradient(left,#EE6369,#F72736);
                                    background: -o-linear-gradient(left,#EE6369,#F72736);
                                    background:linear-gradient(left, #EE6369 0%, #F72736 100%);
                                   font-size: vw(26);
                                   color: #fff;
                                   height: vw(65);
                                   line-height: vw(65);
                                   padding: 0 vw(20);
                                   border-radius: vw(65);
                               }
                           }
                        }
                    }
                }
                .info{
                    padding: 0;
                    .custome-info{
                        padding: vw(60);
                    }
                    .report-img{
                        height: 40vw;
                        overflow: hidden;
                        img{
                            width: 100%;
                        }
                    }
                    .more{
                        border-top: 1px solid #E3E3E3;
                        text-align: center;
                        height: vw(105);
                        line-height: vw(105);
                        color: #999;
                        font-size: vw(24);
                    }
                }
                .plan{
                    padding: vw(30);
                    margin-bottom: vw(40);
                }
            }
            .mark{
                color: #272727;
                font-size: vw(28);
                line-height: vw(50);
            }
            .see-file{
                color: #323233;
                background-color: #fff;
                border: 1px solid #ebedf0;
                padding: 0 15px;
                font-size: 14px;
                border-radius: 10em;
                display: inline-block;
                height: 44px;
                line-height: 42px;
                text-align: center;
            }
        }
    }
}
</style>
