<template>
    <div class="punchSuccess">
       <img class="close-img" @click="closepage" src="../assets/deles@2x.png" alt="">
       <div class="title-box">
           <div class="line"></div>
           <span class="title">中华华丹·国坛集</span>
           <div class="line"></div>
       </div>
       <div class="show-img">
           <div class="img-box">
               <img src="../assets/bg_one@2x.png" alt="">
           </div>
       </div>
       <div class="show-pic">
           <img src="../assets/s3.jpg" alt="">
       </div>
       <div class="date-box">
           <div class="date-box-item left">
               <div class="line-div year">
                   <div v-for="(item,index) in time.year" :key="index">{{item}}</div>
               </div>
               <div class="line-div lunar-year" v-if="lunar.year1">
                    <div v-for="(item,index) in lunar.year1" :key="index+10">{{item}}</div>
                    <div class="dot"></div>
                    <div v-for="(item,index) in lunar.year2" :key="index">{{item}}</div>
               </div>
               <div class="line-div lunar-month">
                    <div v-for="(item,index) in lunar.month" :key="index">{{item}}</div>
               </div>
           </div>
           <div class="date-box-item">
               <div class="day">{{time.day}}</div>
               <div class="line-div week">
                   <div v-for="(item,index) in time.month" :key="index+5">{{item}}</div>
                   <div class="dot-w"></div>
                   <div v-for="(item,index) in time.week" :key="index">{{item}}</div>
               </div>
           </div>
       </div>
    </div>
</template>

<script>
import time from '@/modules/time'
export default {
name:'punchSuccess',

data(){
    return {
       time:'',
       imgUrl:null,
       token:null,
       lunar:{}
    }
},
methods:{
  closepage(){
    window.open('http://guotan_return_back','_self')
  }
},
mounted(){
    this.time=time.time
    this.lunar=this.time.lunar
    this.token=this.$url.token
    this.imgUrl=decodeURIComponent(this.$url.imgUrl)
    if(!this.token){
      this.Toast('token错误')
      return false
    }
    if(!this.imgUrl){
        this.Toast('图片路径错误')
        return false
    }
}
}
</script>

<style lang='scss'>
@function vw($px) {
    @return ($px / 750) * 100vw;
}
.punchSuccess{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   .close-img{
       position: absolute;
       top: vw(40);
       right: vw(40);
       width: vw(36);
   }
   .title-box{
       margin-top: vw(90);
       display: flex;
       align-items: center;
       justify-content: center;
       .title{
           padding: 0 vw(15);
           color: #000;
           font-size: vw(28);
       }
       .line{
           width: vw(52);
           height: vw(3);
           background: #000;
       }
   }
   .show-img{
       margin-top: vw(44);
       width: vw(670);
       height: vw(670);
       padding: vw(10);
       box-shadow: 0 0 vw(14) #ddd;
       overflow: hidden;
       .img-box{
           overflow: hidden;
           height: 100%;
           width: 100%;
           img{
                height: 100%;
            }
       }
   }
   .show-pic{
       padding:0 vw(40);
       width: 100%;
       height: vw(400);
       overflow: hidden;
       img{
           width: 100%;
       }
   }
   .date-box{
       padding: vw(40);
       width: 100%;
       height: vw(236);
       border-top: 1px solid #D8D8D8 ;
       display: flex;
       align-items: center;
       justify-content: space-between;
       .dot{
           width: vw(8);
           height: vw(8);
           background: #000;
           border-radius: vw(8);
       }
       .dot-w{
           width: vw(8);
           height: vw(8);
           background: #fff;
           border-radius: vw(8);
       }
       .line-div{
           height: 100%;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: space-between;
           div{
               font-size: vw(24);
           }
       }
       .left{
           .line-div{
                border-right: 1px solid #333;
                padding:0 vw(15);
           }
           .year{
               padding-left: 0;
           }
       }
       &-item{
           height: 100%;
           display: flex;
           align-items: center;
           .year{
               padding-left: 0;
               div{
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   border: 1px solid #000;
                   border-radius: vw(36);
                   width: vw(36);
                   height: vw(36);
               }
           }
           .day{
               font-size: vw(170);
               color: #000;
           }
           .week{
               padding: vw(4) 0;
               width: vw(40);
               background: #000;
               color: #fff;
               font-size: vw(24);
           }
       }
       
   }
 
}
</style>
