<template>
    <div class="wrap report" >
        <div class="top">
            <headNav url='1' img='w' title='每日健康报告'/>
            <div v-if="list&&list.length!=0" class="select" @click="handleShow">
                <span>#{{currentItem.course_name}}</span>
                <img src="../assets/down@2x.png" alt="">
            </div>
        </div>
        <p v-if="list.length==0" class="empty">暂无数据</p>
        <div v-if="list&&list.length!=0" class="main">
            <!-- 血糖健康数据 -->
            <div class="card">
               <div class="time">上课时间：{{currentItem.start_date}}-{{currentItem.end_date}}</div>
               <img class="title-img" src="../assets/r1.png" alt="">
               <div class="sub">成人血糖正常值范围：70-100(mmno/L)</div>
               
               <div  ref="chart1" class="chart-box">
                   <p v-show="currentItem.bloodList.values.length==0" class="empty">暂无数据</p>
                   <chart  ref='chart1' unit='(mmnol)'   :data='currentItem.bloodList' />
               </div>
            </div>
            <!-- 血压健康数据 -->
            <div class="card">
               <img class="title-img" src="../assets/r2.png" alt="">
               <div class="sub">成人血压正常值范围：90-139(mmHg)/60-89(mmHg)</div>
               
               <div  class="chart-box">
                   <p v-show="currentItem.pressureList.values.length==0" class="empty">暂无数据</p>
                   <chart  ref='chart2' unit='(mmHg)'   :data='currentItem.pressureList' />
               </div>
            </div>
            <!-- 体重健康数据 -->
            <div class="card">
               <img class="title-img" src="../assets/r5.png" alt="">
               <div class="sub">成人标准体重(kg)：[身高(cm)-100]x0.9</div>
              
               <div  class="chart-box">
                    <p v-show="currentItem.weightsList.values.length==0" class="empty">暂无数据</p>
                   <chart ref='chart3' unit='(kg)'   :data='currentItem.weightsList' />
               </div>
            </div>
            <!-- 腰围健康数据 -->
            <div class="card">
               <img class="title-img" src="../assets/r4.png" alt="">
               
               <div  class="chart-box">
                   <p v-show="currentItem.circleList.values.length==0" class="empty">暂无数据</p>
                   <chart ref='chart4' unit='(cm)'   :data='currentItem.circleList' />
               </div>
            </div>
            <!-- 摸骨情况数据 -->
            <!-- <div class="card">
               <img class="title-img" src="../assets/r3.png" alt="">
               <div  class="bones" v-show="currentItem.boneList">
                  <div class="bones-item" v-for="item in currentItem.boneList" :key="item.contentSort">
                      <p class="title">
                          <img src="../assets/bullet@2x.png" alt="">
                          <span>第{{item.contentSort}}课</span>
                      </p>
                      <div class="desc">{{item.situation||'暂未填写'}}</div>
                  </div>
               </div>
            </div> -->
            <!-- 前后 -->
            <!-- <div class="card">
               <img class="title-img" src="../assets/r6.png" alt="">
               <div class="compare">
                   <div class="compare-item">
                       <div v-if="currentItem.before_class" class="img-box">
                           <img :src="imgUrl+currentItem.before_class" alt="">
                       </div>
                       <span>养生前</span>
                   </div>
                   <div class="compare-item">
                       <div v-if="currentItem.after_class" class="img-box">
                           <img :src="imgUrl+currentItem.after_class" alt="">
                       </div>
                       <span>养生后</span>
                   </div>
               </div>
            </div> -->
        </div>
        <!-- 弹出框 -->
            <van-actionsheet class="select-action" v-model="show" title="请选择">
              <img class="close-img" @click="handleClose" src="../assets/down@2x.png" alt="">
              <div @click="handleSelect(item)" class="item" v-for="item in list" :key="item.id">
                  <p class="name">{{item.course_name}}</p>
                  <p class="desc">{{item.start_date}}-{{item.end_date}}</p>
              </div>
            </van-actionsheet>
    </div>
</template>

<script>
import headNav from '@/components/headNav'
import chart from '@/components/chart'
export default {
name:'report',
components:{
 headNav,chart
},
data(){
    return {
        imgUrl:null,
       show:false,//弹出框 
       currentItem:null,//当前的报告单
       list:null,
       type:2//课程类型：1.功法，2.丹道
    }
},
methods:{
  handleShow(){
      this.show=true
  },
  handleClose(){
      this.show=false
  },
  handleSelect(item){
      this.currentItem=item
      console.log(this.currentItem)
      this.show=false
  },
  sortArr(arr){
      let text=['第一天','第二天','第三天','第四天','第五天','第六天','第七天']
      let values=[]
      if(arr){
           arr=arr.sort((a,b) => {return a.contentSort-b.contentSort;});
      if(arr.length>7){
          arr=arr.slice(0,7)
      }
      arr=arr.map((item,index)=>{
        // switch(index+1){
        //     case 1:
        //         text.push('第一天')
        //         break;
        //     case 2:
        //         text.push('第二天')
        //         break;
        //     case 3:
        //         text.push('第三天')
        //         break;
        //     case 4:
        //         text.push('第四天')
        //         break;
        //     case 5:
        //         text.push('第五天')
        //         break;
        //     case 6:
        //         text.push('第六天')
        //         break;
        //     case 7:
        //         text.push('第七天')
        //         break;
        // }
        values.push( Number(item.value))
        return item
      })
      }
      
      return {text,values}
  },
  sortCurrentList(list){
        let arr=list
        let res=[]
        arr.map(item=>{
                item.start_date=this.$moment((item.start_date)).format('YYYY/MM/DD HH:mm');
                item.end_date=this.$moment((item.end_date)).format('YYYY/MM/DD HH:mm');
                    item.bloodList=this.sortArr(item.bloodList)
                    item.circleList=this.sortArr(item.circleList)
                    item.pressureList=this.sortArr(item.pressureList)
                    item.weightsList=this.sortArr(item.weightsList)
                if(item.boneList){
                    item.boneList=item.boneList.sort((a,b) => {return a.contentSort-b.contentSort;});
                }
            res.push(item)
            return item
        })
        return res
  }
},
mounted(){
    // this.currentItem=this.list[0]
},
created(){
    this.token=this.$url.token
    this.imgUrl=decodeURIComponent(this.$url.imgUrl)
    if(!this.token){
      this.Toast('token错误')
      return false
    }
    if(!this.imgUrl){
        this.Toast('图片路径错误')
        return false
    }
    let obj={method:'posts',url:'/api/health/healthReport',data:{token:this.token}}
    this.$http(obj).then(res=>{
        if(res.status==1){
            this.list=res.data.customerHealths.filter(item=>item.type==this.type)
            if(this.list.length==0){
                this.Toast('暂无相关数据')
                return false
            }
            this.list=this.sortCurrentList(this.list)
            this.currentItem=this.list[0]
        }
    })
}
}
</script>

<style lang='scss'>
@function vw($px) {
    @return ($px / 750) * 100vw;
}
.report{
    /*! autoprefixer: off */
            background: -webkit-linear-gradient(top,#E63B48,#E56167);
            /* autoprefixer: on */
            background: -moz-linear-gradient(top,#E63B48,#E56167);
            background: -o-linear-gradient(top,#E63B48,#E56167);
            background:linear-gradient(top, #E63B48 0%, #E56167 100%);
    .top{
        padding:0 vw(40);
        .headnav{
            padding: 0;
        }
        .select{
            margin: vw(40) 0;
            height: vw(80);
            border-radius: vw(80);
            background: #D24D53;
            color: #fff;
            font-size: vw(28);
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                margin-left: vw(15);
                width: vw(30);
            }
        }
    }
    .empty{
                color: #fff;
                font-size: vw(20);
                text-align: center;
                padding: 20px;
        }
    .main{
        padding:0 vw(40);
        .card{
            /*! autoprefixer: off */
            background: -webkit-linear-gradient(top,#fff,#FCF6F6);
            /* autoprefixer: on */
            background: -moz-linear-gradient(top,#fff,#FCF6F6);
            background: -o-linear-gradient(top,#fff,#FCF6F6);
            background:linear-gradient(top, #fff 0%, #FCF6F6 100%);
            border-radius: vw(22);
            padding: vw(60) 0;
            margin-bottom: vw(40);
            .time{
                color: #9292AD ;
                font-size: vw(22);
                margin-bottom: vw(75);
                padding: 0 vw(50);
            }
            .title-img{
                height: vw(40);
                display: block;
                margin: 0 auto;
                margin-bottom: vw(35);
            }
            .sub{
                margin: 0 vw(30);
                background: #F9F1F1;
                height: vw(70);
                line-height: vw(70);
                border-radius: vw(70);
                color: #4F4F6D;
                font-size: vw(20);
                text-align: center;
            }
            .chart-box{
                width: 100%;
                height: vw(600);
            }
            .compare{
                padding:vw(85) vw(100);
              display: flex;
              align-items: center;
              justify-content: space-between;
              &-item{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: space-between;
                  .img-box{
                      width: vw(200);
                      height: vw(300);
                       border-radius: vw(10);
                       overflow: hidden;
                       margin-bottom: vw(20);
                    img{
                        width: 100%;
                    }
                  }
              }
            }
            .bones{
                padding: 0 vw(50);
                &-item{
                    .title{
                        margin-top: vw(42);
                        margin-bottom: vw(20);
                        display: flex;
                        align-items: center;
                        font-size: vw(28);
                        color: #4F4F6D ;
                        img{
                            width: vw(16);
                            margin-right: vw(10);
                        }
                    }
                    .desc{
                        border-radius: vw(16);
                        border: 1px dashed #BEBECC;
                        color: #4F4F6D;
                        font-size: vw(24);
                        line-height: vw(42);
                        padding: vw(45) vw(40);
                        background: #F7F4F4;
                    }
                }
            }
        }
        .empty{
             color: #4F4F6D;
                font-size: vw(20);
                text-align: center;
                padding: 20px;
        }

    }
    .select-action{
        padding: vw(40) 0;
        border-top-right-radius: vw(22);
        border-top-left-radius: vw(22);
        overflow: hidden;
       
        .van-actionsheet__header{
            font-size: vw(36);
            font-weight: bold;
        }
        .van-actionsheet__close{
            display: none;
        }
        .close-img{
            width: vw(30);
            position: relative;
            top: vw(-80);
            left: vw(670);
        }
        .item{
            margin-bottom: vw(65);
            display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
           .name{
               color: #272727;
               font-size: vw(36);
               margin-bottom: vw(15);
           }
           .desc{
               color: #666;
               font-size: vw(28);
           }
        }
    }
}
</style>
