<template>
    <div class="wrap signList">
        <headNav img='w' title='签到记录' url='1'/>
        <div class="num-box">{{customerPoints}}</div>
        <div class="main">
           <p class="sign-list-title">签到积分纪录</p>
           <p v-if='signList.length==0' class="empty">暂无记录</p>
           <div class="wrapper" ref="wrapper" >
            <div class="bscroll-container" >
                <!-- 刷新提示信息 -->
                <div  class="tip top-tip">
                    <span class="refresh-hook">{{pulldownMsg}}</span>
                </div>
                <!-- 内容列表 -->
                 <div class="sign-list">
                    <div class="sign-list-item" v-for="(item,index) in signList" :key="index">
                        <div class="sign-list-item-top">
                            <span class="sign-list-item-top-name">连续签到{{item.sign_days}}天</span>
                            <div class="sign-list-item-top-numbox">
                                <span class="sign-list-item-top-numbox-num">+{{item.point}}</span>
                                <img class="sign-list-item-top-numbox-img" src="../assets/money@2x.png" alt="">
                            </div>
                        </div>
                        <div class="sign-list-item-bottom">{{item.date_added}}</div>
                    </div>
                </div>
                <!-- 底部提示信息 -->
                <div  class="tip bottom-tip">
                    <span class="loading-hook">{{pullupMsg}}</span>
                </div>
            </div>
          </div>  
        </div>
    </div>
</template>

<script>
import BScroll from "better-scroll"
import headNav from '@/components/headNav'
export default {
name:'signList',
components:{
    headNav
},
data(){
    return {
        allpage:null,
        pageIndex:1,
        signList:[],
        customerPoints:0,
        pulldownMsg: '下拉刷新',
        pullupMsg: '加载更多',
        scroll:null,
        token:null,
        imgUrl:null,
    }
},
methods:{
    getList(){
        let obj={method:'posts',url:'/api/customerSign/customerSignRecord',data:{token:this.token,pageIndex:this.pageIndex}}
        this.$http(obj).then(res=>{
            if(res.status==1){
                this.pageIndex++
                this.customerPoints=res.data.customerPoints
                this.signList=[...this.signList,...res.data.signPageRecords]
                this.signList=this.handleTime(this.signList)
                const current=Number(res.data.current)
                const total=Number(res.data.total)
                if(current<total){
                    this.finished=false
                    this.pullupMsg='加载更多'
                }else{
                    this.finished=true
                    this.pullupMsg='没有更多'
                }
                //恢复刷新提示文本值
                this.pulldownMsg = '下拉刷新'
                //刷新列表后，重新计算滚动区域高度
                //this.scroll.refresh();
            }
        })  
    },
    handleTime(list){
        return list.map(item=>{
            let time=item.date_added
            item.date_added=this.$moment(time).format('YYYY-MM-DD HH:mm')
            return item
        })
    }
},
mounted(){
   
},
created(){
    const that = this
    this.token=this.$url.token
    this.imgUrl=decodeURIComponent(this.$url.imgUrl)
    if(!this.token){
      this.Toast('token错误')
      return false
    }
    if(!this.imgUrl){
        this.Toast('图片路径错误')
        return false
    }
  this.getList()
  this.$nextTick(() => {
    this.scroll = new BScroll(this.$refs.wrapper,{       //初始化better-scroll
        probeType:1,   //1 滚动的时候会派发scroll事件，会截流。2滚动的时候实时派发scroll事件，不会截流。 3除了实时派发scroll事件，在swipe的情况下仍然能实时派发scroll事件
        click: true   //是否派发click事件
    })
    // 滑动过程中事件
    this.scroll.on('scroll',(pos)=>{
        if(pos.y > 30){
            this.pulldownMsg = '释放立即刷新'
        }
    });
    //滑动结束松开事件
    this.scroll.on('touchEnd',(pos) =>{  //上拉刷新
        if(pos.y > 30){
            that.list=[]
            that.pageIndex=0
            that.getList()
            this.pulldownMsg = '刷新中';
        } 
        else if(pos.y<(this.scroll.maxScrollY - 30)){   //下拉加载
        if(this.finished==true){
            this.pullupMsg = '没有更多了'
        }else{
            this.pullupMsg = '加载中...';
            that.getList()
        }
            
        }
    })      
  })
    
}
}
</script>

<style lang='scss'>
@function vw($px) {
    @return ($px / 750) * 100vw;
}
.empty{
    text-align: center;
    padding: 10vw 5vw;
}
.signList{
   /*! autoprefixer: off */
    background: -webkit-linear-gradient(top,#FF4351,#FF8A57);
    /* autoprefixer: on */
    background: -moz-linear-gradient(top,#FF4351,#FF8A57);
    background: -o-linear-gradient(top,#FF4351,#FF8A57);
    background:linear-gradient(top, #FF4351 0%, #FF8A57 100%);
  .num-box{
      font-size: vw(110);
      color: #fff;
      padding: vw(70);
      font-weight: bolder;
      background: url('../assets/decorate@2x.png') no-repeat vw(350) vw(18);
      background-size: vw(400);
  }
  .main{
      background: #fff;
     border-top-left-radius: vw(26);
     border-top-right-radius: vw(26);
     padding-top: vw(50);
      display: flex;
      flex-direction: column;
  }
  .wrapper{
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            /* 下拉、上拉提示信息 */
          .top-tip{
              position: absolute;  
              top: -40px;  
              left: 0;
              z-index: 1;  
              width: 100%;  
              height:40px;  
              line-height:40px;  
              text-align:center;
              color: #555;
          } 
            
          .bottom-tip{
              width: 100%;
              height: 35px;
              line-height: 35px;
              text-align: center;
              color: #777;
              background: #f2f2f2;
              position: absolute;
              bottom: -35px;
              left: 0;
          }


        }
  .sign-list-title{
      font-weight: bolder;
      padding: 0 vw(40);
         font-size: vw(38);
         color: #272727;
     }
  .sign-list{
      padding: 0 vw(40);
      overflow-x: hidden;
      flex: 1;
     &-item{
         margin-top: vw(50);
         &-top{
             margin-bottom: vw(15);
             display: flex;
             justify-content: space-between;
             align-items: center;
             &-name{
                 font-size: vw(30);
                 color: #272727;
                 font-weight: bolder;
             }
             &-numbox{
                 display: flex;
                 align-items: center;
                 &-num{
                     font-size: vw(34);
                     color: #272727;
                 }
                 &-img{
                     width: vw(40);
                     margin-left: vw(15);
                 }
             }
         }
         &-bottom{
             color: #D3D3D3 ;
             font-size: vw(24);
         }
     }
  }
}
</style>
