<template>
    <div  class="chart" :id="id" style="width: 100%;height:100%;" ref="myEchart"></div>
</template>

<script>
import echarts from 'echarts'
export default {
name:'',
props:['data','id','unit'],
data(){
    return{
        chart:null//:style="{height:sw,width:sw}"
    }
},

methods:{
    drawLine(){
        let option = {
            xAxis: {
                type: 'category',
                data: this.data.text,
                axisLine: {       // 坐标轴 轴线
                    show: false,  // 是否显示
                },
                axisTick: {    // 坐标轴 刻度
                    show: false,  // 是否显示
                },
                axisLabel: {    // 坐标轴标签
                    show: true,  // 是否显示
                    inside: false, // 是否朝内
                    fontSize:10,
                    rotate: 60, // 旋转角度
                    margin: 15, // 刻度标签与轴线之间的距离
                    color: '#272727'  // 默认取轴线的颜色 
                },
                name: this.unit,   // 轴名称
                nameLocation: 'start', // 轴名称相对位置value
                nameTextStyle: {    // 坐标轴名称样式
                    color: '#4F4F6D',
                    fontSize:10,
                    
                },
                nameGap: -5, // 坐标轴名称与轴线之间的距离
            },
            grid: {
                x: 50,
                y: 10
            },
            yAxis: {
                type: 'value',
                splitLine:{show: false},//去除网格线
                axisLine: {    // 坐标轴 轴线
                    show: false,  // 是否显示
                },
                axisTick: {      // 坐标轴的刻度
                    show: false,    // 是否显示
                },
                axisLabel: {      // 坐标轴的标签
                    show: true,    // 是否显示
                    inside: false,  // 是否朝内
                    rotate: 0,     // 旋转角度
                    margin: 40,     // 刻度标签与轴线之间的距离
                    color: '#4F4F6D',  // 默认轴线的颜色
                    fontSize:10,
                    align :'left'
                },
            },
            series: [{
                data: this.data.values,
                type: 'bar',
                barWidth: 22,
                barGap:10,
                itemStyle: {
                    normal: {
                         label: {
                            position:'insideTop',
                            distance:1,
                            show: true,//是否展示
                            textStyle: {
                                backgroundColor:'#fff',
                                fontSize: 8,
                                borderRadius :20,
                                width:20,
                                color:'#272727',
                                height:20,
                                align:'center',
                                lineHeight:20
                            },
                            rich:{
                                width:20,
                                height:20,
                            }
                        },
                        barBorderRadius:[20,20,0,0],
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: '#FFE800'
                        }, {
                            offset: 1,
                            color: '#FFC100'
                        }]),
                    }
                }
            }]
        }
        this.chart=echarts.init(this.$refs.myEchart)
        this.chart.setOption(option)
        let that=this
        window.addEventListener('resize',function(){
            that.chart.resize()
        })
    },
},
watch:{
   data:{//深度监听，可监听到对象、数组的变化
        handler(val, oldVal){
            this.drawLine()
        },
        deep:true
    }
},
mounted(){
    const that = this
    this.$nextTick(function() {
        that.drawLine()
    })
}
}
</script>

<style lang='scss'>
.chart{
    padding-left: 10px;
}
</style>
