<template>
    <div class="headnav">
        <img @click="returnBack" class="img" v-show="img=='b'" src="../assets/return@2x.png" alt="back">
        <img @click="returnBack" class="img" v-show="img=='w'" src="../assets/return_w@2x.png" alt="back">
        <span :class="img=='b'?'title-b':'title-w'" v-show="title">{{title}}</span>
        <span class="img"></span>
    </div>
</template>

<script>
export default {
name:'report',
props:['img','title','url'],
data(){
    return {
        
    }
},
methods:{
    returnBack(){
        if(this.url==1){
           window.open('http://guotan_return_back','_self')
        }else{
            this.$router.go(-1)
        }
    }
}
}
</script>

<style lang='scss'>
@function vw($px) {
    @return ($px / 750) * 100vw;
}
.headnav{
    height: vw(88);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 vw(40);
    .img{
        display: inline-block;
        width: vw(50);
    }
    .title-b{
        color: #000;
        font-size: vw(34);
    }
    .title-w{
        color: #fff;
        font-size: vw(34);
    }
}
</style>
