<template>
    <div class="list">
        <p :class="item.selected?'actived':''" @click="handleSelect(item.id)" v-for="item in lists" :key="item.id">{{item.text}}</p>
    </div>
</template>

<script>
export default {
  name:'MultiSelect',
  props:['list'],
  data(){
      return {
        lists:this.list
      }
  },

  methods:{
    handleSelect(id){
       this.lists=this.multiSelect(this.lists,id)
       this.$emit('returnList',this.lists)
    }
  }
}
</script>

<style>

</style>
