<template>
    <div class="card">
        <div class="card-top line-img">
            <img  v-show="status==1" src="../assets/verygood@2x.png" alt="很好">
            <img  v-show="status==2" src="../assets/good_@2x.png" alt="好">
            <img  v-show="status==3" src="../assets/commonly@2x.png" alt="一般">
            <img  v-show="status==4" src="../assets/nothing@2x.png" alt="无">
            <span>{{newWord}}</span>
        </div>
        <div v-show="desc" class="card-bottom">
            <p class="text">{{desc}}</p>
        </div>
    </div>
</template>

<script>
export default {
name:'showStatus',
props:['status','desc'],
data(){
    return{
        word:'很好',
    }
},
computed:{
    newWord(){
        let key=''
        switch(Number(this.status)){
            case 1:
               key='很好'
               break;
            case 2:
               key='好'
               break;
            case 3:
               key='一般'
               break;
            case 4:
               key='无'
               break;
            
        }
        return key
    },
},
mounted(){
    
}
}
</script>

<style>

</style>
