<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  components: {
  },
  methods:{
  },
}
</script>

<style lang="scss" >
@import './lib/reset.css';
#app {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  font-size: 16px;
  .wrap{
     width: 100%;
     height: 100%;
    display: flex;
    flex-direction: column;
  }
  .main{
    flex: 1;
    overflow-x: hidden;
  }
  .img-box{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 100%;
    }
  }
  
  .van-hairline--top-bottom::after{
    border-width: 0px 0;
  }
}
</style>
